{% extends 'structure/email-base.html' %}
{% load staticfiles %}

{% block title %}
	A sua consulta pública sobre o proposição legislativa "{{ proposal_title }}" encontra-se encerrada
{% endblock title %}


{% block img %}
<img src="http://{{ site_url }}{% static 'img/mail.png' %}">
{% endblock img %}

{% block content %}
	<tr class="center">
		<p>A partir de agora, os cidadãos
			aguardam o resultado final da participação, que deverá contemplar o texto
			consolidado da proposição com as opiniões eventualmente acatadas,
			bem como um vídeo de feedback do deputado, justificando a incorporação ou não das
			sugestões e agradecendo o engajamento da sociedade.</p>
	</tr>
	<tr class="center">
		<p>O sistema notificará
			automaticamente os usuários quando esses conteúdos forem disponibilizados, assim
			como, no caso de não disponibilização, os manterá informados do tempo decorrido
			desde o encerramento da consulta pública, enquanto o resultado final não for
			enviado.</p>
	</tr>
{% endblock content %}
