{% extends 'structure/email-base.html' %}
{% load staticfiles %}

{% block title %}
  Autorização de feedback
{% endblock title %}

{% block img %}
<img src="http://{{ site_url }}{% static 'img/mail.png' %}">
{% endblock img %}

{% block content %}
  <tr class="center">
    Devolutiva não autorizada!
  </tr>
  <tr class="center">
  O órgão gestor analisou a versão do documento selecionada por você e econtrou alguma inconsistência. Por favor, entre em o órgão gestor para mais informações.
  </tr>
{% endblock content %}


