{% extends 'structure/email-base.html' %}
{% load staticfiles %}

{% block title %}
  Autorização de feedback
{% endblock title %}

{% block img %}
<img src="http://{{ site_url }}{% static 'img/mail.png' %}">
{% endblock img %}

{% block content %}
  <tr class="center">
    Devolutiva não autorizada!
  </tr>
  <tr class="center">
  O Deputado(a) analisou a versão do documento selecionada por você e não validou as diferenças entre ela e a versão original. Por favor, entre em contato com ele para escolher a versão correta para ser disponibilizada como devolutiva à sociedade.
  </tr>
{% endblock content %}
