{% extends 'structure/email-base.html' %}
{% load staticfiles %}

{% block title %}
Obrigado pela sua participação!
{% endblock title %}

{% block img %}
<img src="http://{{ site_url }}{% static 'img/mail.png' %}">
{% endblock img %}

{% block content %}
  <tr class="center">
    Você foi removido da proposta legislativa {{ document.title }} pelo usuário {{ document.owner }}
  </tr>
{% endblock content %}

{% block button %}
  <a href="http://{{ site_url }}{% url 'home' %}">OUTRAS PROPOSTAS LEGISLATIVAS</a>
{% endblock button %}