[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.8"
python-decouple = "*"
django_compressor = "*"
django-npm = "*"
flake8 = "*"
coverage = "*"
python-coveralls = "*"
django-libsass = "*"
django-compressor-postcss = "*"
django-extensions = "*"
djangorestframework = "*"
django-filter = "*"
django-compressor-toolkit = "*"
django-js-reverse = "*"
django-colorful = "*"
django-constance = {extras = ["database"]}
django-picklefield = "*"
requests = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
roman = "*"
beautifulsoup4 = "*"
celery = {extras = ["redis"]}
django_celery_results = "*"
django_celery_beat = "*"
diff-match-patch = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
