[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
python-decouple = "*"
django_compressor = "*"
django-npm = "*"
"flake8" = "*"
coverage = "*"
python-coveralls = "*"
django-libsass = "*"
django-compressor-postcss = "*"
django-extensions = "*"
djangorestframework = "*"
django-filter = "*"
django-compressor-toolkit = "*"
django-js-reverse = "*"
django-colorful = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
