$color-theme: #396;
$color-link: #36c;
$color-whitesmoke: #F4F4F4;
$color-brand: #2DA965;
$color-deep-gray: #474747;
$color-grayish: #D0D0D0;


// Social colors
$color-facebook: #3b5998;
$color-twitter: #00ACED;
$color-whatsapp: #25D366;
