$color-theme: #396;
$color-link: #36C;
$color-whitesmoke: #F4F4F4;
$color-brand: #2DA965;
$color-deep-gray: #474747;
$color-light-black: #383838;
$color-grayish: #D0D0D0;
$color-gray: #949494;
$color-orange: #F70;
$color-red: #EB6767;
$color-highlight: #FD6;
$color-highlight-on-white: #FFEEB2;
$color-whisper: #F5F6FA;
$color-blueish: #68C0FF;
$color-purple: #B255C9;


// Social colors
$color-facebook: #3B5998;
$color-twitter: #00ACED;
$color-whatsapp: #25D366;
