$font-family-body: 'Roboto', sans-serif;
$font-family-brand: 'Montserrat', sans-serif;

$font-size-hecto: 2.25rem;
$font-size-deca: 2rem;
$font-size-base: 1.5rem;
$font-size-deci: 1.375rem;
$font-size-centi: 1rem;
$font-size-mili: 0.875rem;
$font-size-micro: 0.75rem;
$font-size-nano: 0.625rem;

$line-height-hecto: 1.4;
$line-height-deca: 1.4;
$line-height-base: 1.6;
$line-height-deci: 1.6;
$line-height-centi: 1.6;
$line-height-mili: 1.6;
$line-height-micro: 1.6;
$line-height-nano: 1.6;
