$font-family-body: 'Merriweather', serif;
$font-family-mono: 'Source Code Pro', monospace;

$font-size-mega: 7.5rem;
$font-size-kilo: 4.1rem;
$font-size-hecto: 2.8rem;
$font-size-deca: 2rem;
$font-size-base: 1.5rem;
$font-size-deci: 1.2rem;
$font-size-centi: 1rem;
$font-size-mili: 0.9rem;

$line-height-kilo: 5rem;
$line-height-hecto: 4rem;
$line-height-deca: 3.5rem;
$line-height-base: 3rem;
$line-height-deci: 2.5rem;
$line-height-centi: 2rem;
$line-height-mili: 1.5rem;
