{% extends "structure/base.html" %}
{% load staticfiles projects_tags %}

{% block content %}

<main class="dashboard-list" id="js-projects-list">
  <div class="header">
    <h1>Meus Documentos</h1>
    <div class="tabs">
      <div class="tab -active">Participação Popular</div>
      <div class="tab">Abertos</div>
      <div class="tab">Encerrados</div>
    </div>
  </div>
  <input class="search js-search" type="text" placeholder="Buscar">

  <div class="list">
    <a href="{% url 'new_document' %}" class="document-card -new">
      <span class="icon" aria-label="Novo Documento"></span>
    </a>

    {% for document in object_list %}
      <div href="{% url 'document_editor_analyze' template='editor' pk=document.id %}" class="document-card -owner {% if document|has_group %}-public{% else %}-closed{% endif %}">

        <ul class="tags">
          {% if document|has_public_group %}
            <li class="app-tag -public">
              <img src="{% static 'img/public.svg' %}" alt="">
              <span class="label">Pública</span>
            </li>
          {% endif %}

          {% if document|count_private_groups > 0  %}
            <li class="app-tag">
              <img src="{% static 'img/padlock.svg' %}" alt="">
              <span class="label">{{ document|count_private_groups }} {% if document|count_private_groups == 1  %}Restrita{% else %}Restrita{% endif %}</span>
            </li>
          {% endif %}

          {% if document|count_opinions > 0  %}
          <li class="app-tag">
            <img src="{% static 'img/given-opinions.svg' %}" alt="">
            <span class="label">{{ document|count_opinions }} {% if document|count_opinions == 1  %}Opinião{% else %}Opiniões{% endif %}</span>
          </li>
          {% endif %}
        </ul>

        <h3 class="js-title">{{ document.title }}</h3>

        <p class="js-description">
          {{ document.description }}
        </p>

        <div class="footer">
          {% if document|has_public_group %}
            {% document_is_open document as is_open %}
            {% document_closing_date document as end_date %}
            {% if not is_open %}
              {% if document|feedback_sent %}
                <div class="status -owner">
                  <div class="feedback-status">
                    <img src="{% static 'img/check.svg' %}" alt="">
                    <p>Resposta enviada </p>
                  </div>
                </div>
              {% else %}
                <div class="status -owner">
                  <div class="feedback-status">
                    <img src="{% static 'img/hourglass.svg' %}" alt="">
                    <p class="-onhold">público aguarda resposta há {{ end_date|absolute_days_since }}
                      dias</p>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}

          <div class="actions">
            <a href="{% url 'document_editor_analyze' 'editor' document.id %}">Minhas versões</a>
            {% if document|has_group %}
              <a href="{% url 'document_editor_analyze' 'analysis' document.id %}?group_id={{document|participation_group_id}}">Ver participação</a>
            {% endif %}
          </div>

        </div>

      </div>

    {% endfor %}

  </div>

</main>

{% endblock content %}

{% block page_js %}
  <script src="{% static 'list.js/dist/list.min.js' %}"></script>
  <script src="{% static 'particles.js/particles.js' %}"></script>
  <script src="{% static 'js/components/backgroundParticle/view.js' %}"></script>
  <script src="{% static 'js/components/documentExcerpt/view.js' %}"></script>
  <script src="{% static 'js/components/documentBody/view.js' %}"></script>
  <script src="{% static 'js/components/navBurger/view.js' %}"></script>
  <script src="{% static 'js/components/searchInput/view.js' %}"></script>
  <script src="{% static 'js/pages/home.js' %}"></script>
{% endblock page_js %}
