{% extends "structure/base.html" %}
{% load staticfiles participations_tags %}
{% load staticfiles i18n %}

{% block content %}
<main class="diff">
  <h1 class="title"> Diferença entre textos </h1>
    <nav>
      <li class="menu original"><a href="#">ORIGINAL</a></li>
      <li class="menu diferencas"><a id="diffItem" href="#">DIFERENÇAS</a></li>
      <li class="menu final"><a href="#">FINAL</a></li>
    <nav>

  <div class="texto" id="diff">
    {% autoescape on %}
    {% for word in diff_text %}

    {% if word.0 == -1 %}
    <span class="deleted">
      {{word.1|safe}}
    </span>

    {% elif word.0 == 1 %}
    <span class="added">
      {{word.1|safe}}
    </span>

    {% else %}
    {{word.1|safe}}
    {% endif %}

    {% endfor %}
    {% endautoescape %}
  </div>

  <div class="texto" id="original">
    {% autoescape on %}
    {% for word in diff_text %}

    {% if word.0 == -1 %}
    {{word.1|safe}}

    {% elif word.0 == 0 %}
    {{word.1|safe}}

    {% endif %}

    {% endfor %}
    {% endautoescape %}
  </div>

  <div class="texto" id="final">
    {% autoescape on %}
    {% for word in diff_text %}

    {% if word.0 == 1 %}
    {{word.1|safe}}

    {% elif word.0 == 0 %}
    {{word.1|safe}}

    {% endif %}

    {% endfor %}
    {% endautoescape %}
  </div>

{% if is_congressman %}
<div class="congressman-question">
Esta é a diferença entre os textos, você concorda?
</div>
    <div class="button">
      <a href="http://{{ site_url  }}">       
        <div class="button--yes">
          SIM
        </div>
     </a>
     <a href="http://{{ site_url  }}">       
        <div class="button--no">
          NÃO
        </div>
      </a>

  </div>
{% endif %}
</main>
{% endblock content %}

{% block page_js %}
<script src="{% static 'js/components/switchTexts/view.js' %}"></script>
<script src="{% static 'js/pages/diff.js' %}"></script>
{% endblock page_js %}