{% extends "structure/base.html" %}
{% load staticfiles projects_tags participations_tags %}
{% block title %}
  {{ object.document.title }}
{% endblock title %}
{% block content %}

{% can_suggest object request.user as selection_enabled%}
<main class="document-body js-documentBody" data-selection-enabled="{% if selection_enabled %}true{% else %}false{% endif %}" data-group-id="{{ object.id }}">
  <div class="wrapper">
    <div class="invisible"></div>
    <aside class="info-bar">
      <div class="item">
        {% if object.document.document_type %}
        <span class="epigraph">{{ object.document.document_type.initials }} {{ object.document.number }}/{{ object.document.year }}</span>
        {% endif %}
      </div>
      {% if object.document.infos.authors.all %}
      <div class="item">
        <span class="title">Autor</span>
        {% for author in object.document.infos.authors.all %}
          <span class="text">{{ author.name }} - {{author.author_type}}</span>
        {% endfor %}
      </div>
      {% endif %}
      {% if object.document.infos.legislative_body and object.document.infos.status%}
      <div class="item">
        <span class="title">Situação</span>
        <span class="text">{{ object.document.infos.legislative_body }} - {{ object.document.infos.status }}</span>
      </div>
      {% endif %}
      {% if object.document.themes.all %}
      <div class="item">
        <span class="title">Temas:</span>
        <ul class="themes">
          {% for theme in object.document.themes.all %}
            <li class="theme-tag">
              <span class="dot" style="background-color: {{theme.color}}"></span>
              {{ theme.name }}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if object.document.videos.all %}
        {% for video in object.document.videos.all %}
        <div class="item -video">
          <iframe width="100%" src="https://www.youtube.com/embed/{{video.video_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endfor %}
      {% endif %}
    </aside>
  </div>
  <article>
    <header>
      <div class="info">
        <div class="group">
          {% if object.closing_date|is_open %}
          <span class="date -active">Aberto até {{ object.closing_date|date:"d/m/Y" }}</span>
          {% else %}
          <span class="date -inactive">Encerrado em {{ object.closing_date|date:"d/m/Y" }}</span>
          {% endif %}
        </div>
      </div>
      <h1>{{ object.document.title }}</h1>
      <p class="description">{{ object.document.description }}</p>
      <hr>
    </header>
    {% for excerpt in object.document.excerpts.all %}
      {% if excerpt.excerpt_type.align_center %}
      <h3>{% excerpt_numbering excerpt %}</h3>
      <h3>{{ excerpt.content|safe }}</h3>
      {% else %}
      <p><b>{% excerpt_numbering excerpt %}</b>{% include "components/document-excerpt.html" with excerpt=excerpt group=object %}
        {% if request.user.is_authenticated %}
          {% excerpt_suggestions excerpt request.user as has_suggestions %}
        {% else %}
          {% excerpt_suggestions excerpt as has_suggestions %}
        {% endif %}
        {% if has_suggestions %}
        <span class="suggestion-opinion js-opinionButton" data-excerpt-id='{{ excerpt.id }}'>
          <i class="icon"></i>
          <span class="text">Ver opiniões</span>
        </span>
        {% endif %}
      </p>
      {% endif %}
    {% endfor %}
  </article>
  <div class="info-button js-infoButton"></div>
</main>

{% include "components/suggestion-input.html" %}

{% include "components/opinion-modal.html" with suggestions=suggestions %}

{% include "components/info-modal.html" %}

{% include "components/opinion-onboarding.html" %}

{% include "components/text-selection-onboarding.html" %}
{% endblock content %}

{% block page_js %}
  <script src="{% static 'popper.js/dist/umd/popper.js' %}"></script>
  <script src="{% static 'tooltip.js/dist/umd/tooltip.js' %}"></script>
  <script src="{% static 'js/components/documentExcerpt/view.js' %}"></script>
  <script src="{% static 'js/components/documentBody/view.js' %}"></script>
  <script src="{% static 'js/components/infoButton/view.js' %}"></script>
  <script src="{% static 'js/components/infoModal/view.js' %}"></script>
  <script src="{% static 'js/components/suggestionInput/view.js' %}"></script>
  <script src="{% static 'js/components/suggestionInput/view.js' %}"></script>
  <script src="{% static 'js/components/suggestionInput/controller.js' %}"></script>
  <script src="{% static 'js/components/navBurger/view.js' %}"></script>
  <script src="{% static 'js/components/navBar/view.js' %}"></script>
  <script src="{% static 'js/components/body/view.js' %}"></script>
  <script src="{% static 'js/components/opinionModal/view.js' %}"></script>
  <script src="{% static 'js/components/opinionModal/controller.js' %}"></script>
  <script src="{% static 'js/components/textHighlight/view.js' %}"></script>
  <script src="{% static 'js/components/highlightTooltip/view.js' %}"></script>
  <script src="{% static 'js/components/opinionOnboarding/view.js' %}"></script>
  <script src="{% static 'js/components/textSelectionOnboarding/view.js' %}"></script>
  <script src="{% static 'js/pages/document.js' %}"></script>
{% endblock page_js %}
