{% extends "structure/base.html" %}
{% load staticfiles projects_tags %}
{% block title %}
  {{ object.title }}
{% endblock title %}
{% block content %}
<div class="nav-bar">
  <div class="nav-burger"></div>
  <a href="/" class="brand">Wikilegis</a>
</div>

<div class="nav-menu">
  <nav>
    <a href="#">Vrom</a>
  </nav>
</div>

<main class="document-body js-documentBody">
  <div class="header">
    {% if object.document_type %}
    <span class="epigraph">{{ object.document_type.initials }} {{ object.number }}/{{ object.year }}</span>
    {% endif %}
    <h2>{{ object.title }}</h2>
    <p>{{ object.description }}</p>
    <hr>
  </div>

  {% for excerpt in object.excerpts.all %}
  <p><b>{% excerpt_numbering excerpt %}</b>{% include "components/document-excerpt.html" with excerpt=excerpt %}</p>
  {% endfor %}

  <h3>Título I</h3>
  <h4>Das disposições gerais</h4>

</main>

<div class="suggestion-input js-suggestionInput">
  <div class="close js-close"><img class="icon" src="{% static 'img/close.svg' %}"></div>
  <span class="info">
    Você destacou o trecho:
  </span>
  <div class="text">
    <p class="js-selectedText"></p>
  </div>
  <span class="info">
    <img class="icon" src="{% static 'img/atention.svg' %}">Digite sua opinião sobre ele:
  </span>
  <div class="input">
    <input class="js-input" type="text" name="">
    <div class="send">
      <img class="icon js-send" src="{% static 'img/send.svg' %}">
    </div>
  </div>
  <span class="error js-inputError"></span>
</div>
{% endblock content %}

{% block page_js %}
  <script src="{% static 'js/components/documentExcerpt/view.js' %}"></script>
  <script src="{% static 'js/components/documentBody/view.js' %}"></script>
  <script src="{% static 'js/components/suggestionInput/view.js' %}"></script>
  <script src="{% static 'js/components/suggestionInput/view.js' %}"></script>
  <script src="{% static 'js/components/suggestionInput/controller.js' %}"></script>
  <script src="{% static 'js/components/navBurger/view.js' %}"></script>
  <script src="{% static 'js/components/navBar/view.js' %}"></script>
  <script src="{% static 'js/components/searchInput/view.js' %}"></script>
  <script src="{% static 'js/components/body/view.js' %}"></script>
  <script src="{% static 'js/pages/document.js' %}"></script>
{% endblock page_js %}
