{% extends "structure/base.html" %}
{% load staticfiles %}
{% block title %}
{{ object.title }}
{% endblock title %}

{% block navbar_extra_classes %}js-navbar js-owner{% endblock navbar_extra_classes %}

{% block navbar_admin_tools %}
  <div class="project">
    <span class="title js-documentTitle">{{object.title}}</span>
      <div class="dropdown">
      {% if group %}
        {% if group.public_participation %}
        <span>Participação pública</span>
        {% else %}
        <span class="-closed">{{group.thematic_group.name}}</span>
        {% endif %}
      {% else %}
        <span>Minhas Versões</span>
      {% endif %}
      <ul class="list js-menuList">
        <a href="{% url 'document_editor_cluster' 'editor' object.id %}">
          <span>Minhas Versões</span>
          <div class="info">
            <div class="item -versions">{{ object.invited_groups.all.count }}</div>
          </div>
        </a>
        <!-- Número de versões -->
        <hr>
        {% for public_participation in public_group %}
        {% if public_participation.group_status == 'waiting' %}
        <a href="#" class="js-waitingButton">
          <span>Participação Pública</span>
          <div class="info">
              <div class="item -blue">Aguardando</div>
          </div>
        </a>
        {% else %}
        <a href="{% url 'document_editor_cluster' 'clusters' object.id %}?group_id={{public_participation.id}}">
          <span>Participação Pública</span>
          <div class="info -full">
            <div class="item -participants">1</div>
            <div class="item -opinions">0</div>
            <div class="item -green">Em andamento</div>
          </div>
        </a>
        {% endif %}
        {% empty %}
        {% if not object.title or not object.description or not object.themes.all %}
        <a href="#" class="js-openValidationButton">
          <span>Participação Pública</span>
          <div class="info">
            <div class="item">Solicitar</div>
          </div>
        </a>
        {% else %}
        <a href="#" class="js-openPublicParticipation">
          <span>Participação Pública</span>
          <div class="info">
            <div class="item">Solicitar</div>
          </div>
        </a>
        {% endif %}
        {% endfor %}
        <hr>
        <div class="title">
          <span class="-closed">Participações Privadas</span>
          {% if not object.title or not object.description or not object.themes.all %}
          <a href="#" class="-add js-openValidationButton">Adicionar</a>
          {% else %}
          <a href="{% url 'new_group' object.id %}" class="-add">Adicionar</a>
          {% endif %}
        </div>
        <!-- Criar nova -->
        {% for invited_group in private_groups %}
          <a href="{% url 'document_editor_cluster' 'clusters' object.id %}?group_id={{invited_group.id}}">
            <span>{{invited_group.thematic_group.name}}</span>
            <div class="info">
              <div class="item -participants">{{invited_group.thematic_group.participants.count}}</div>
              <div class="item -opinions">{{invited_group.suggestions.count}}</div>
            </div>
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock navbar_admin_tools %}


{% block extracss %}
<style>
  .ui-autocomplete-loading {
    background: white url("https://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
</style>
{% endblock extracss %}

{% block body_classes %}-white{% endblock %}

{% block content %}

<main class="document-editor -active js-documentEditor" data-document-id="{{ object.id }}">

  {% if page == 'editor' %}
    {% include "components/document-editor.html" %}
  {% elif page == 'clusters' %}
    {% include "components/side-bar.html" %}
    {% include "components/document-opinions.html" %}
  {% endif %}

  {% include "components/tool-bar.html" with pk=object.id %}
  {% for message in messages %}
  {% include "components/info-message.html" with message=message %}
  {% endfor %}
</main>

{% include "components/validate-modal.html" %}
{% include "components/public-participation-modal.html" %}
{% include "components/participation-info-modal.html" %}

{% endblock content %}

{% block page_js %}
<script src="{% static 'jquery-ui-dist/jquery-ui.min.js' %}"></script>
<script src="{% static '/js/components/validationModal/view.js' %}"></script>
<script src="{% static 'js/components/publicParticipationModal/view.js' %}"></script>
<script src="{% static 'js/components/publicParticipationModal/controller.js' %}"></script>
<script src="{% static 'js/components/congressmanAutocomplete/view.js' %}"></script>
{% if page == 'editor' %}
<script src="{% static '/js/utils/position.js' %}"></script>
<script src="{% static '/js/vendor/silegismg-editor-articulacao-plain-js-polyfill.js' %}"></script>
<script src="{% static '/js/components/infoMessage/view.js' %}"></script>
<script src="{% static '/js/components/documentEditor/view.js' %}"></script>
<script src="{% static '/js/components/contextualToolbar/view.js' %}"></script>
<script src="{% static '/js/components/navBar/view.js' %}"></script>
<script src="{% static '/js/pages/editDocument.js' %}"></script>
{% elif page == 'clusters' %}
<script src="{% static 'js/components/reduceExcerpts/view.js' %}"></script>
<script src="{% static 'js/components/documentSideBar/view.js' %}"></script>
<script src="{% static 'js/components/clusters/view.js' %}"></script>
<script src="{% static 'js/components/textHighlight/view.js' %}"></script>
<script src="{% static 'js/pages/clustersDocument.js' %}"></script>
{% endif %}
{% endblock page_js %}
