{% extends "structure/base.html" %}
{% load staticfiles projects_tags participations_tags %}
{% block title %}
  Editor - {{ object.title }}
{% endblock title %}

{% block navbar %}
{% include "components/document-navbar.html" %}
{% endblock navbar %}

{% block body_classes %}-white{% endblock %}

{% block content %}

<main class="document-editor -active js-documentEditor" data-document-id="{{ object.id }}">
  <article>
    <header>
      <h1 contentEditable="true">{{ object.title }}</h1>
      <p class="description">{{ object.description }}</p>
      <hr>
    </header>
    <div class="js-textEditor"></div>
  </article>
  {% include "components/tool-bar.html" with pk=object.id %}
</main>

{% endblock content %}

{% block page_js %}
<script src="{% static '/js/vendor/silegismg-editor-articulacao-plain-js.js' %}"></script>
{% endblock page_js %}
