{% extends "structure/base.html" %}
{% load staticfiles projects_tags %}

{% block content %}

<main class="dashboard-list">
  <div class="list">
    <a href="#" class="simple-card -new">
      <span class="icon" aria-label="Adicionar grupo"></span>

    </a>
    <a href="#" class="simple-card -groups">
      <div class="header">
        <span class="date">Criado em 23/03/2019</span>
        <span class="participations"><b>12</b> Participantes</span>
      </div>
      <h3 class="js-title">Consultores Amigos</h3>
      <div class="info">
        <div class="list">
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="simple-card -groups">
      <div class="header">
        <span class="date">Criado em 23/03/2019</span>
        <span class="participations"><b>12</b> Participantes</span>
      </div>
      <h3 class="js-title">Consultores Amigos</h3>
      <div class="info">
        <div class="list">
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="simple-card -groups">
      <div class="header">
        <span class="date">Criado em 23/03/2019</span>
        <span class="participations"><b>12</b> Participantes</span>
      </div>
      <h3 class="js-title">Consultores Amigos</h3>
      <div class="info">
        <div class="list">
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="simple-card -groups">
      <div class="header">
        <span class="date">Criado em 23/03/2019</span>
        <span class="participations"><b>12</b> Participantes</span>
      </div>
      <h3 class="js-title">Consultores Amigos</h3>
      <div class="info">
        <div class="list">
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="simple-card -groups">
      <div class="header">
        <span class="date">Criado em 23/03/2019</span>
        <span class="participations"><b>12</b> Participantes</span>
      </div>
      <h3 class="js-title">Consultores Amigos</h3>
      <div class="info">
        <div class="list">
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile js-user" data-user-id="1">
            <img class="avatar" src="{% static 'img/avatar.png' %}">
            <div class="info">
              <span class="name">Erivânio Vasconcelos</span>
              <div class="tags">
                <div class="theme-tag">
                  <span class="dot" style="background-color: #e20f0f;"></span>
                   Saúde
                </div>
                <div class="theme-tag">
                  <span class="dot" style="background-color: #61d141;"></span>
                   Segurança
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

</main>

{% endblock content %}

{% block page_js %}
  <script>
    var prefixURL = '{{prefix_url|default_if_none:""}}';
  </script>

  <script src="{% static 'list.js/dist/list.min.js' %}"></script>
  <script src="{% static 'particles.js/particles.js' %}"></script>
  <script src="{% static 'js/components/backgroundParticle/view.js' %}"></script>
  <script src="{% static 'js/components/documentExcerpt/view.js' %}"></script>
  <script src="{% static 'js/components/documentBody/view.js' %}"></script>
  <script src="{% static 'js/components/navBurger/view.js' %}"></script>
  <script src="{% static 'js/components/searchInput/view.js' %}"></script>
  <script src="{% static 'js/pages/home.js' %}"></script>
{% endblock page_js %}
