{% extends "structure/base.html" %}
{% load staticfiles i18n %}

{% block content %}
  <main class="home-section">
    {% include "components/hero-section.html" %}
    <div class="projects-list">
      <form class="document-form" method="POST">
        {% csrf_token %}
        {{form.non_field_errors}}
        <h2>Criar Novo Projeto</h2>
        <div class="theme-autocomplete js-themeAutocomplete">
          <input class="js-input" type="text" name="theme-autocomplete">
          <label>{% trans "Tema" %}</label>
          {{form.themes.errors}}
          <div class="themes">
            <span class="title _hidden js-title">Temas Adicionados:</span>
            <ul class="tags js-tags"></ul>
          </div>
        </div>
        <div class="input-select">
          <label for="{{form.document_type.id_for_label}}">{% trans "Tipo" %}</label>
          <div class="select">
            {{form.document_type}}
            <div class="icon"><i class="arrow"></i></div>
          </div>
          {{form.document_type.errors}}
        </div>
        <div class="input-group">
          <div class="input-text">
            {{form.number}}
            <label for="{{form.number.id_for_label}}">{% trans "Número" %}</label>
            {{form.number.errors}}
          </div>
          <div class="input-text">
            {{form.year}}
            <label for="{{form.year.id_for_label}}">{% trans "Ano" %}</label>
            {{form.year.errors}}
          </div>
        </div>
        <div class="input-text">
          {{form.title}}
          <label for="{{form.title.id_for_label}}">{% trans "Título" %}</label>
          {{form.title.errors}}
        </div>
        <div class="input-text">
          {{form.description}}
          <label for="{{form.description.id_for_label}}">{% trans "Descrição" %}</label>
          {{form.description.errors}}
        </div>
        <button class="solid-button -green">Enviar</button>
      </form>
    </div>
  </main>
{% endblock content %}

{% block page_js %}
  <script src="{% static 'jquery-ui-dist/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/components/themeAutocomplete/view.js' %}"></script>
  <script src="{% static 'js/pages/newDocument.js' %}"></script>
{% endblock page_js %}
