.app-modal {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;

  display: none;
  overflow: hidden;
  flex-direction: column;

  width: 100%;

  animation: simple-reveal .3s ease;

  background-color: $color-whitesmoke;

  @include bp-mediumup {
    top: 50%;
    left: 50%;

    width: 50%;
    height: auto;
    max-height: calc(100% - 3rem);

    transform: translate(-50%, -50%);
  }

  &.-opinion {
    justify-content: center;

    width: 100%;
    height: 100%;
    max-height: 100%;

    background-color: transparent;
  }

  &.-filter {
    padding: 2rem;

    background-color: $color-whitesmoke;

    & > .content > .app-button {
      margin-top: 2rem;
      margin-left: auto;
    }

    & .close-icon {
      margin-top: 2rem;
      margin-right: 2rem;
    }
  }

  &.-info {
    height: 100%;

    @include bp-mediumup {
      display: none !important;
    }
  }

  &.-validate {
    padding: 0 2rem 2rem 2rem;

    & > .content {
      width: 80%;
      margin: 0 auto;

      & > p {
        margin-top: 2rem;
      }

      & > .app-button {
        margin: 0 auto;
        margin-top: 2rem;
      }
    }
  }

  &.-public {
    padding: 0 2rem 2rem 2rem;

    & > .content {
      width: 80%;
      margin: 0 auto;

      & p {
        margin-top: 2rem;
      }

      & .app-button {
        margin: 0 auto;
        margin-top: 2rem;
      }
    }
  }

  &.-confirm {
    padding: 0 2rem 2rem 2rem;

    & > .content {
      & > p {
        margin-top: 2rem;
      }

      & > .app-button {
        margin: 0 auto;
        margin-top: 2rem;
      }
    }
  }

  &.-onboarding {
    overflow-y: auto;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 1.5rem;

    @include bp-mediumup {
      padding: 4rem;
    }
  }

  &.-show {
    display: flex;
  }

  & > .header {
    z-index: 1;

    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;

    background-color: inherit;

    @include hidden-shadow;
  }

  & > .header.-shadow {
    @include header-shadow;
  }

  & > .header > .close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.75rem;
    height: 2.75rem;

    cursor: pointer;

    @include bp-mediumup {
      width: 2rem;
      height: 2rem;
    }
  }

  & > .content {
    overflow-y: auto;

    padding: 1rem;

    text-align: center;

    @include bp-mediumup {
      padding: 1.5rem;
    }

    @at-root .-onboarding#{&} {
      overflow-y: unset;

      max-width: 38rem;
      margin: auto;
      padding: 0;

      & > .step {
        display: none;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        animation: simple-reveal .5s .2s ease forwards;

        opacity: 0;
      }

      & > .step.-active {
        display: flex;
      }

      & > .step.-animate {
        animation: fade-to-left .4s $swift-out forwards;
      }

      & > .step > h2 {
        font-size: $font-size-deca;
      }

      & > .step > .selectimage {
        margin-top: 4rem;
        margin-bottom: 5rem;
      }

      & > .step > .opinionimage {
        margin-top: 3rem;
        margin-bottom: .8rem;
      }

      & > .step > p {
        font-size: $font-size-centi;

        margin-top: 0;
      }

      & > .step > p > .opinion {
        display: inline-flex;

        margin-left: .2em;

        transform: translateY(.35em);

        @include icon(comment, 17px, 18px);

        &::before {
          transform: scale(2);
          animation: zoom-out-reveal .5s 2s $swift-out forwards;

          opacity: 0;
        }
      }

      & > .step > p > .text-highlight {
        animation: extend-opinion-background-horizontal .25s 1.25s $swift-out forwards;

        background-size: 0 100%;
      }

      & > .step > .app-button {
        margin-top: 1rem;
      }

      & > .step > .app-button:first-of-type {
        margin-top: 2rem;
      }
    }

    @at-root .-opinion#{&} {
      display: flex;
      overflow: hidden;
      justify-content: center;

      height: 100%;
    }
  }
}
