.autocomplete-list {
  width: 100% !important;

  background-color: #FFF;

  @include card-shadow;

  .theme-tag {
    display: flex;
    align-items: center;

    padding: 1rem;

    transition: background-color .2s ease;

    &:hover {
      cursor: pointer;

      background-color: $color-whitesmoke;
    }
  }
}
