.compare-checkbox {
  input[type='checkbox'] {
    display: none;

    width: 0;
    height: 0;
  }

  input[type='checkbox'] + label {
    position: relative;

    display: flex;
    align-items: center;

    margin: .6rem 0;

    transition: color 250ms $swift-out;

    color: #9E9E9E;
  }

  input[type='checkbox'] + label > span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1rem;
    height: 1rem;
    margin-right: 1rem;

    cursor: pointer;
    transition: all 250ms $swift-out;

    border: 2px solid $color-gray;
    border-radius: 2px;
    background: transparent;
  }

  input[type='checkbox'] + label:hover,
  input[type='checkbox']:focus + label {
    color: #FFF;
  }

  input[type='checkbox'] + label:hover > span,
  input[type='checkbox']:focus + label > span {
    border-color: $color-brand;
  }

  input[type='checkbox']:checked + label > span {
    animation: shrink-bounce 200ms $swift-out;

    border: 2px solid $color-brand;
    background-color: $color-brand;
  }

  input[type='checkbox']:checked + label > span:before {
    position: absolute;
    top: .5rem;
    left: .25rem;

    content: '';
    transform: rotate(45deg);
    transform-origin: 0 100%;
    animation: checkbox-check 125ms 250ms $swift-out forwards;

    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }

  @keyframes shrink-bounce {
    0% {
      transform: scale(1);
    }

    33% {
      transform: scale(.85);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes checkbox-check {
    0% {
      width: 0;
      height: 0;

      transform: translate3d(0,0,0) rotate(45deg);

      border-color: #FFF;
    }

    33% {
      width: .2rem;
      height: 0;

      transform: translate3d(0,0,0) rotate(45deg);
    }

    100% {
      width: .2rem;
      height: .5rem;

      transform: translate3d(0,-.5rem,0) rotate(45deg);

      border-color: #FFF;
    }
  }
}
