.contextual-toolbar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
  user-select: none;

  & > ul {
    display: flex;

    & > li + li {
      margin-left: 1rem;
    }
  }
}