.contextual-toolbar {
  position: absolute;
  z-index: 1;

  margin-top: 1rem;
  padding: .5rem 1rem;

  user-select: none;
  transition: border-color .1s ease, box-shadow .1s ease;
  animation: reveal-from-bottom .3s $swift-out;

  border: 1px solid $color-grayish;
  border-top: 3px solid $color-brand;
  border-radius: .25rem;
  background-color: white;
  box-shadow: 2px 2px 9px 0 hsla(0, 0%, 50%, .3);

  &.-error {
    animation: shake .1s 2 ease;

    border-color: $color-red;
    box-shadow: 0 0 10px 2px hsla(0, 77%, 66%, .4);
  }

  & > .list {
    display: flex;
  }

  & > .list > .item {
    font-size: .75rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: .6rem 1rem;

    cursor: pointer;
    transition: all .1s ease-in-out;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-deep-gray;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: white;
  }

  & > .list > .item + .item {
    margin-left: .1rem;
  }

  & > .list > .item:focus,
  & > .list > .item:hover {
    color: $color-deep-gray;
    background-color: hsla(0, 0%, 95%, 1);
  }

  & > .list > .item > .shortcut {
    font-weight: 600;

    text-decoration: underline;
  }
}
