.diff {
	margin: 15%;
	margin-top: 8rem;
	margin-bottom: 5%;
	background: #FFFFFF;
	padding: 2%;
	@include card-shadow;	
	.title {
		text-align: center;
		padding-top: 10px;
	}
	.texto {
		text-align: justify;
		font-weight: 200;
		padding: 2% 10% 2% 10%;
	}
	& .texto > .deleted {
		position: relative;
		&::after {
			border-bottom: 0.125em solid rgb(212, 8, 8);
			content: "";
			left: 0;
			line-height: 1em;
			margin-top: calc(0.125em/2);
			position: absolute;
			right: 0;
			top: 50%;
		}
		background-color: rgb(243, 112, 112);
	}
	& .texto > .added {
		background-color: #2CD27E;
	}
	& .menu > a:hover, a:focus, a:active {
	    color: #474747;
	    text-decoration: none;
	    font-weight: 400;
	}
	& .menu > a {
	    text-decoration: none;
	    position: relative;
	    display: block;
	    padding: 16px 0;
	    margin: 0 12px;
	    letter-spacing: 1px;
	    font-size: 18px;
	    line-height: 18px;
	    font-weight: 300;
	    text-transform: uppercase;
	    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
	    color: #AFAFAF;
	}
	& .menu > a::before {
	    content: '';
	    display: block;
	    position: absolute;
	    bottom: 3px;
	    left: 0;
	    height: 5px;
	    width: 100%;
	    background-color: #2EAA68;
	    transform-origin: right top;
	    transform: scale(0, 1);
	    transition: color 0.1s,transform 0.2s ease-out;
	}
	& .menu > a.initialStyle::before {
	    content: '';
	    display: block;
	    position: absolute;
	    bottom: 3px;
	    left: 0;
	    height: 5px;
	    width: 100%;
	    background-color: #2EAA68;
	    transform-origin: right top;
	    transform: scale(1, 1);
	    transition: color 0.1s,transform 0.2s ease-out;
	}
	


	a:hover::before, a:focus::before {
	    transform-origin: left top;
	    transform: scale(1, 1);
	}

	& .button {
		align-items: center;
		display: flex;
		justify-content: center;
		border: none;
		color: white;
		padding: 15px 32px;
		margin-bottom: 2%;
		font-size: 16px;
		&--yes {
			@extend .button;
			background-color: $yes-button-color;
			&:hover {
				background-color: $yes-button-color - 20%;
			}
		}
		&--no {
			@extend .button;
			background-color: $no-button-color;
			margin-left: 10%;
			margin-right: 1%;
			&:hover {
				background-color: $no-button-color - 20%;
			}
		}
	}
	nav {
		text-align: center;
		margin-top: 2%
	}

	li { 
		display: inline-block;
		padding: 20px 0 20px;
		vertical-align: middle;
	 }
	.congressman-question {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		text-align: center;
		margin: 5%;
		margin-bottom: 2rem;
	}
}

#original {
	display: none;
}

#final {
	display: none;
}