.document-body {
  position: relative;

  display: flex;

  padding-top: 2rem;
  padding-right: 4.6rem;
  padding-bottom: 5rem;
  padding-left: 4.6rem;

  @include bp-smallonly {
    padding: 4rem 1rem;
  }
  @include bp-mediumonly {
    padding: 4rem 1.6rem;
  }

  &::before {
    position: fixed;
    z-index: 1;
    top: calc(100% - 5rem);
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    pointer-events: none;

    background: linear-gradient(rgba(255,255,255,0), #FFF);

    @include bp-smallonly {
      top: calc(100% - 4rem);
    }
  }

  &.-voidselection {
    user-select: none;
  }

  & > h3 {
    text-align: center;
  }

  & > article {
    max-width: 66ch;
    padding-right: 2rem;

    @include bp-mediumup {
      margin-right: auto;
      margin-left: 3rem;
      padding-right: 9rem;
    }
  }

  & > article > p {
    position: relative;
  }

  & > article > header > .suggestion-opinion,
  & > article > p > .suggestion-opinion {
    position: absolute;
    top: 0;
    left: 100%;
  }

  & > article > p > .suggestion-opinion {
    margin-top: -.3rem;

    @include bp-mediumup {
      margin-top: -.1rem;
    }
  }

  & > article > header {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  & > article > header > hr {
    margin-bottom: 0;
  }

  & > article > header > .description {
    font-size: $font-size-deci;
    font-weight: 300;

    margin-top: 1rem;
  }

  & > article > header > .info {
    display: flex;
    flex-direction: column;
  }

  & > article > header > .info > .group {
    display: flex;
    justify-content: space-between;
  }

  & > article > header > .info > .group > .epigraph,
  & > article > header > .info > .group > .status {
    font-size: $font-size-mili;
    font-weight: 500;
  }

  & > article > header > .info > .group > .status {
    display: flex;
  }

  & > article > header > .info > .group > .status > img {
    margin-right: .25rem;
    margin-bottom: .2rem;
  }

  & > article > header > .info > .group > .date {
    font-size: $font-size-mili;
    font-weight: 500;

    color: $color-deep-gray;

    &.-inactive {
      color: $color-red;
    }

    &.-active {
      color: $color-brand;
    }
  }

  & > .wrapper {
    position: relative;

    flex: 0 0 auto;

    width: 14rem;
    margin-left: auto;

    @include bp-smallonly {
      display: none;

      padding-left: 0;
    }
  }

  & > .wrapper > .invisible {
    position: absolute;
    z-index: 0;
    left: -100vw;

    width: calc(100vw + 100%);
    height: 100%;

    &:hover + .info-bar > .item {
      opacity: 1;
    }
  }

  & > .wrapper > .info-bar {
    position: fixed;
    z-index: 1;

    overflow-y: auto;

    width: 14rem;
    height: calc(100% - 3.75rem);
    padding-right: 1rem;

    text-align: right;

    @include bp-mediumonly {
      width: 12rem;
    }

    & > .item > .themes {
      justify-content: flex-end;
    }
  }

  & > .info-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    @include bp-smallup {
      display: none;
    }
  }
}
