.document-body {
  position: relative;

  display: flex;

  padding-right: 4.6rem;
  padding-left: 4.6rem;

  @include bp-mediumdown {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  &.-voidselection {
    user-select: none;
  }

  & > h3 {
    text-align: center;
  }

  & > article {
    max-width: 66ch;
    margin-right: auto;
    margin-left: 3rem;

    @include bp-mediumdown {
      margin-left: 0;
    }
  }

  & > article > header {
    display: flex;
    flex-direction: column;
  }

  & > article > header > hr {
    margin-bottom: 0;
  }

  & > article > header > .description {
    font-size: 1.25rem;
    font-weight: 300;

    margin-top: 1rem;
  }

  & > article > header > .info {
    display: flex;
    flex-direction: column;
  }

  & > article > header > .info > .group {
    display: flex;
    justify-content: space-between;
  }

  & > article > header > .info > .group > .epigraph,
  & > article > header > .info > .group > .status {
    font-size: .875rem;
    font-weight: 500;
  }

  & > article > header > .info > .group > .status {
    display: flex;
  }

  & > article > header > .info > .group > .status > img {
    margin-right: .25rem;
    margin-bottom: .2rem;
  }

  & > article > header > .info > .group > .date {
    font-size: .875rem;
    font-weight: 500;

    color: $color-deep-gray;

    &.-inactive {
      color: $color-red;
    }

    &.-active {
      color: $color-brand;
    }
  }

  & > .wrapper {
    position: relative;

    flex: 0 0 auto;

    width: 14rem;
    margin-left: auto;

    @include bp-mediumdown {
      display: none;

      padding-left: 0;
    }
  }

  & > .wrapper > .invisible {
    position: absolute;
    z-index: 0;
    left: -100vw;

    width: calc(100vw + 100%);
    height: 100%;

    &:hover + .info-bar > .item {
      opacity: 1;
    }
  }

  & > .wrapper > .info-bar {
    position: fixed;

    overflow-y: auto;

    width: 14rem;
    height: calc(100% - 3.75rem);
    padding-right: 1.5rem;

    text-align: right;

    & > .item > .themes {
      justify-content: flex-end;
    }
  }

  & > .info-button {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;

    @include bp-mediumup {
      display: none;
    }
  }
}
