.document-editor {
  position: relative;

  display: flex;

  padding-top: 2rem;
  padding-bottom: 5rem;

  @include bp-smallonly {
    padding: 4rem 1rem;
  }
  @include bp-mediumonly {
    padding: 4rem 1.6rem;
  }

  &::before {
    position: fixed;
    z-index: 1;
    top: calc(100% - 5rem);
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    pointer-events: none;

    background: linear-gradient(transparent, #FFF);

    @include bp-smallonly {
      top: calc(100% - 4rem);
    }
  }

  & > h3 {
    text-align: center;
  }

  & > article {
    max-width: 66ch;
    margin: 0 auto;
  }

  & > article > p {
    position: relative;
  }

  & > article > header {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  & > article > header > hr {
    margin-bottom: 0;
  }

  & > article > header > .description {
    font-size: 1.25rem;
    font-weight: 300;

    margin-top: 1rem;
  }
}
