.errorlist {
  display: flex;
  flex-direction: column;

  & > li {
    font-size: $font-size-mili;

    margin-top: .5rem;
    padding: .25rem .5rem;

    color: #FFF;
    background-color: rgba($color-red, .8);
  }
}
