.generic-modal {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;

  display: none;
  overflow-y: auto;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-color: $color-whitesmoke;

  &.-opinion {
    .excerpt {
      color: $color-grayish;
    }
  }

  &.-show {
    display: block;
  }

  & > .header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    padding: 1.6rem;

    background-color: $color-whitesmoke;
  }

  & > .header.-shadow {
    @include header-shadow;
  }

  & > .header > .close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.75rem;
    height: 2.75rem;

    cursor: pointer;
  }

  & > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2rem;
    padding: 3.2rem 1.6rem 1.6rem 1.6rem;

    text-align: center;
  }

  & > .content.-vote {
    text-align: left;
  }

  & > .content > img,
  & > .content > svg {
    width: 14rem;
    margin: 0 auto;
  }

  & > .content > .info-text {
    margin-top: 2rem;
  }

  & > .content > .info-text:first-child {
    margin-top: 0;
  }

  & > .solid-button {
    font-size: 1.2rem;

    margin: 0 auto;
    margin-top: 2rem;
    padding: .5rem 2rem;
  }

  & .simple-link {
    margin: 0 auto;
    margin-top: 1rem;
  }

  & > .footer {
    box-sizing: border-box;
    width: 100%;
    padding: 1.6rem;

    background-color: #FFF;
  }

  & > .footer > .info-text {
    margin-top: 0;
  }

  & > .footer > .actions {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
  }

  & > .footer > .actions > a {
    font-size: 1rem;

    padding: .5rem 1rem;
  }
}
