.info-bar {
  color: $color-deep-gray;

  &:hover > .item {
    opacity: 1;
  }

  &::after {
    display: block;

    height: 1rem;

    content: '';
  }

  &.-mobile {
    text-align: left;

    & > .item {
      opacity: 1;
    }
  }

  & > * + * {
    margin-top: 1.5rem;
  }

  & > .item {
    display: flex;
    flex-direction: column;

    opacity: .5;

    &.-video {
      position: relative;

      height: 0;
      padding-bottom: 56.25%; /* 16:9 */

      & > iframe {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
      }
    }
  }

  & > .item > .autor {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 1rem;

    & > .info {
      line-height: 1;
    }

    & .text {
      margin-top: 0;
    }
  }

  & > .item > .socials {
    display: flex;
    align-items: center;

    & > * + * {
      margin-left: .5rem;
    }
  }

  & > .item > .title {
    font-size: 1.5rem;
    font-weight: bold;

    margin-bottom: .5rem;
  }

  & > .item .text,
  & > .item .epigraph {
    font-size: .875rem;
    font-weight: normal;
    line-height: 1.6;
  }

  & > .item .text.-name {
    font-weight: bold;

    display: block;
  }

  & > .item img {
    overflow: hidden;
    flex: 0 0 auto;

    width: 2.25rem;
    height: 2.25rem;
    margin-top: .3rem;
    margin-left: .75rem;

    border-radius: 50%;
  }

  & > .item > .themes {
    display: flex;

    & > * + * {
      margin-left: .75rem;
    }
  }

  & > .item > .themes > .theme-tag {
    cursor: text;
  }

  & > .date {
    font-size: .875rem;
    font-weight: 500;

    margin-top: 0;

    color: $color-deep-gray;

    &.-inactive {
      color: $color-red;
    }

    &.-active {
      color: $color-brand;
    }
  }
}
