.input-select {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin-top: 1rem;

  label {
    font-size: $font-size-centi;
    font-weight: 500;

    margin-bottom: .5rem;

    opacity: .6;
  }

  .select {
    position: relative;

    display: flex;
    align-items: center;

    @include card-shadow;

    select {
      flex: 1;

      height: 3rem;
      padding: 0 1rem;

      background-color: #FFF;
    }

    .icon {
      position: absolute;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.5rem;
      height: 2.5rem;

      pointer-events: none;

      .arrow {
        display: inline-block;

        width: .7rem;
        height: .7rem;

        transform: rotate(45deg);

        border: solid $color-grayish;
        border-width: 0 2px 2px 0;
      }
    }
  }
}
