.input-profile {
  font-size: .875rem;

  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: 25rem;
  margin-top: 1.5rem;
  padding-top: 3.25rem;

  background-color: #FFF;

  @include card-shadow;

  & > .label {
    font-size: 1rem;

    position: absolute;
    top: 0;

    padding: .875rem;
  }

  & > .profiles > ul {
    width: auto !important;
  }
}
