.input-select {
  position: relative;

  display: flex;
  flex: 1;
  flex-direction: column;

  margin-top: 1rem;

  & .errorlist {
    position: absolute;
    top: 3.25rem;

    & > li {
      font-size: $font-size-nano;

      padding: 0;

      letter-spacing: 1px;
      text-transform: uppercase;

      color: $color-red;
      background-color: transparent;
    }
  }

  &.-required {
    position: relative;

    &::after {
      font-size: $font-size-centi;

      position: absolute;
      top: .2rem;
      right: .45rem;

      display: block;

      content: '*';

      color: $color-gray;
    }
  }

  label {
    font-size: $font-size-mili;
    font-weight: 400;

    position: absolute;
    top: 0;
    left: .875rem;

    padding-bottom: .1rem;

    transition: all .2s $swift-out;
    transform: translateY(1rem);
    pointer-events: none;

    color: $color-gray;
  }

  & select:focus + label,
  & select:active + label {
    color: $color-brand;
  }

  .select {
    position: relative;

    display: flex;
    align-items: center;

    select {
      flex: 1;
      color: $color-gray;
      padding: .25rem .875rem;
      box-sizing: border-box;
      height: 3.25rem;

      background-color: #FFF;
    }

    &.-filled {
      & select {
        padding-top: 1.65rem !important;
      }

      & label {
        font-size: .55rem;
        font-weight: 500;

        transform: translateY(.55rem);
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    option {
      font-size: .875rem;
      font-weight: 400;

      position: absolute;
      top: 0;
      left: .875rem;

      padding-bottom: .1rem;

      transition: all .2s $swift-out;
      transform: translateY(1rem);
      pointer-events: none;

      color: $color-gray;
    }

    .icon {
      position: absolute;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.5rem;
      height: 2.5rem;

      pointer-events: none;

      .arrow {
        display: inline-block;

        width: .7rem;
        height: .7rem;

        transform: rotate(45deg);

        border: solid $color-grayish;
        border-width: 0 2px 2px 0;
      }
    }
  }
}
