.input-text {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin-top: 1rem;

  &.-hide {
    display: none;
  }

  label {
    font-size: $font-size-centi;
    font-weight: 500;

    margin-bottom: .5rem;

    opacity: .6;
  }
}
