body.-open-menu .nav-bar {
  background-color: $color-brand;

  & > .brand,
  & > .nav-burger {
    z-index: 4;

    color: #FFF;
  }
}

body.-white .nav-bar {
  background-color: #FFF;
}

.nav-bar {
  position: fixed;
  z-index: 2;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 2.75rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;

  transition: all .25s $swift-out;

  background-color: $color-whitesmoke;

  @include bp-smallonly {
    justify-content: flex-start;

    padding-right: 1rem;
    padding-left: 1rem;
  }
  @include bp-mediumup {
    height: 3.75rem;
  }

  &.-admin {
    justify-content: flex-start;

    border-bottom: 1px solid $color-grayish;
    background: #FFF;

    & > .brand {
      padding: 0;
    }
  }

  &.-shadow {
    @include header-shadow;
  }

  &.-background {
    background: $color-whitesmoke;
  }

  & > .brand {
    font-family: $font-family-brand;
    font-size: .875rem;
    font-weight: 800;

    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 1rem;

    text-transform: uppercase;

    color: $color-brand;

    @include bp-smallonly {
      padding: 0;
    }
  }

  & > .tools {
    display: flex;
    align-items: center;
    flex: auto;
    justify-content: center;

    height: 100%;
    margin-right: 7rem;

    color: $color-gray;

    & > * + * {
      margin-left: 3rem;
    }

    & > a {
      font-size: .875rem;
      font-weight: bold;

      display: flex;
      align-items: center;

      height: 100%;

      text-transform: uppercase;

      &:hover {
        color: $color-brand;
      }

      &.-active {
        color: $color-brand;

        &:hover {
          color: lighten($color-brand, 5%);
        }
      }
    }
  }

  & > .project {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    margin-left: 1.5rem;
    padding-left: 1.5rem;

    border-left: 1px solid $color-grayish;

    &:hover {
      & > .dropdown > .list {
        display: flex;
      }
    }

    & > .title {
      font-size: $font-size-mili;
      font-weight: bold;

      color: $color-deep-gray;
    }

    & > .dropdown {
      position: relative;

      display: flex;
      align-items: center;

      margin-top: .25rem;

      cursor: pointer;

      &::after {
        display: inline-flex;

        width: .75rem;
        height: .75rem;
        margin-left: .25rem;

        content: '';

        background-image: url('../../static/img/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      & > span {
        font-size: $font-size-micro;

        &.-closed {
          @include icon('padlock');

          &::before {
            margin-right: .25rem;
          }
        }
      }

      & > .list {
        position: absolute;
        top: 1.7rem;
        left: -.2rem;

        display: none;
        flex-direction: column;

        max-width: 20rem;

        border: 1px solid $color-grayish;
        background-color: #FFF;

        & > a {
          font-size: $font-size-micro;
          line-height: 1.4;

          padding: .75rem 1rem;

          color: $color-deep-gray;

          &:hover {
            color: $color-brand;
          }

          &.-closed {
            @include icon('padlock');

            &::before {
              margin-right: .25rem;
            }
          }
        }
      }
    }
  }
}
