body.-open-menu .nav-bar {
  background-color: $color-brand;

  & > .brand,
  & > .nav-burger {
    z-index: 4;

    color: #FFF;
  }
}

body.-white .nav-bar {
  background-color: #FFF;
}

.nav-bar {
  position: fixed;
  z-index: 2;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 2.75rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;

  transition: all .25s ease;

  background-color: $color-whitesmoke;

  @include bp-smallonly {
    justify-content: flex-start;

    padding-right: 1rem;
    padding-left: 1rem;
  }
  @include bp-mediumup {
    height: 3.75rem;
  }

  &.-admin {
    justify-content: flex-start;

    border-bottom: 1px solid $color-grayish;
    background: #FFF;
  }

  &.-shadow {
    @include header-shadow;
  }

  &.-background {
    background: $color-whitesmoke;
  }

  & > .brand {
    font-family: $font-family-brand;
    font-size: .875rem;
    font-weight: 800;

    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 1rem;

    text-transform: uppercase;

    color: $color-brand;

    @include bp-smallonly {
      padding: 0;
    }
  }

  & > .tools {
    display: flex;
    align-items: center;
    flex: auto;
    justify-content: center;

    height: 100%;
    margin-right: 7rem;

    color: $color-gray;

    & > a {
      font-size: .875rem;
      font-weight: bold;

      display: flex;
      align-items: center;

      height: 100%;
      padding: 0 2rem;

      text-transform: uppercase;

      &:hover {
        color: $color-brand;
      }

      &.-active {
        color: $color-brand;

        &:hover {
          color: lighten($color-brand, 5%);
        }
      }
    }
  }
}
