.opinion-card {
  position: relative;

  display: flex;

  width: 55rem;
  height: auto;
  margin-bottom: 7.5rem;

  transform: translate(0);

  &.-active {
    & ~ .-active {
      display: none;
    }
  }

  &.-inactive {
    display: none;
  }

  &.-reject {
    transform: translate(100%, 10%);

    opacity: 0;
  }

  &.-approve {
    transform: translate(-100%, 10%);

    opacity: 0;
  }

  &.-neutral {
    transform: translateY(100%);

    opacity: 0;
  }

  &.-next {
    transform: translateY(-100%);

    opacity: 0;
  }

  & > .header {
    position: fixed;
    top: 0;
    left: 0;
  }

  & > .suggestion {
    word-break: break-word;
  }

  & > header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
  }

  & > .highlight,
  & > .opinion {
    display: flex;
    flex: 1 0 50%;

    box-sizing: border-box;
    padding-top: 6rem;

    text-align: left;

    & > .overflow {
      overflow-y: auto;
      overflow-y: overlay;
      overflow-x: hidden;

      width: 100%;
      padding: 0 2rem;
      padding-bottom: 4rem;
    }
  }

  & > .highlight {
    background-color: #FFF;

    & > .overflow > .excerpt > .text-highlight::before {
      position: absolute;
      left: 0;

      display: block;

      width: 27.5rem;
      height: 3px;
      margin-top: -1.6em;

      content: '';

      background-color: $color-highlight-on-white;
    }
  }

  & > .opinion {
    background-color: $color-highlight-on-white;
  }

  & > .actions {
    position: absolute;
    top: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 2rem;

    & > .disagree {
      @extend .app-button;
      @extend .app-button.-red;
      @extend .app-button.-circle;
      @extend .app-button.-circle.-toleft;

      @include icon('disagree');
    }

    & > .indifferent {
      @extend .app-button;
      @extend .app-button.-gray;
      @extend .app-button.-circle;

      @include bp-mediumup {
        margin: 0 3rem;
      }
      @include icon('indifferent');
    }

    & > .agree {
      @extend .app-button;
      @extend .app-button.-green;
      @extend .app-button.-circle;
      @extend .app-button.-circle.-toright;

      @include icon('agree');
    }

    & > .skip {
      @extend .app-button;
      @extend .app-button.-white;
      @extend .app-button.-circle;
      @extend .app-button.-circle.-toleft;
      @extend .app-button.-circle.-small;

      @include bp-mediumup {
        position: absolute;
        right: 0;
      }
      @include icon('skip');
    }
  }

  & > .info-text {
    justify-content: flex-start;
  }
}
