.progress-bar {
  position: relative;

  width: 100%;
  height: .25rem;
  margin-top: .25rem;

  background-color: $color-grayish;

  & > .value {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    transition: transform 1s $swift-out;
    transform-origin: left;

    background-color: $color-brand;
    background-size: 50% 100%;
  }
}
