.projects-list {
  @include bp-mediumup {
    overflow-y: auto;
  }

  & > .search {
    margin-top: 2rem;
  }

  & > .list {
    margin-top: 1rem;
  }

  & > .list > h2 {
    margin-top: 2.5rem;
  }

  & > .list > .simple-card {
    margin-top: 1rem;
  }
}
