.side-bar {
  color: $color-deep-gray;

  &:hover > .item {
    opacity: 1;
  }

  &::after {
    display: block;

    height: 1rem;

    content: '';
  }

  & > * + * {
    margin-top: 1.5rem;
  }

  & > .item {
    display: flex;
    flex-direction: column;

    opacity: .5;
  }

  & > .item > .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  & > .item > span {
    font-size: .875rem;
    font-weight: normal;

    margin-top: .5rem;
  }

  & > .item > .themes {
    display: flex;
    justify-content: flex-end;

    & > * + * {
      margin-left: .75rem;
    }
  }

  & > .item > .themes > .theme-tag {
    cursor: text;
  }
}
