.silegismg-editor-articulacao {
  &.-blur > p {
    opacity: .3;
  }

  & > p {
    text-align: left !important;
    text-indent: 0 !important;
    line-height: 1.75 !important;
    border-left-width: 1px !important;
  }

  & > p[data-invalido]::after {
    font-size: $font-size-micro !important;
  }

  & > p.-highlight {
    opacity: 1;
  }
}
