.simple-link {
  display: flex;
  justify-content: center;

  & > a {
    font-size: .875rem;

    padding: 1rem;

    text-decoration: underline;

    color: $color-gray;

    &:hover {
      color: lighten($color-gray, 10%);
    }
  }
}
