.simple-card {
  display: block;

  padding: 1rem;

  background-color: #FFF;

  @include card-shadow;

  &.-inactive {
    & > .header > .date {
      color: $color-red;
    }

    & > h3,
    & > p,
    & > .header > .status {
      color: $color-gray;
    }

    & > .info,
    & > .header > .status > img {
      opacity: .6;
    }
  }

  & > .header {
    display: flex;
    justify-content: space-between;
  }

  & > .header > span {
    font-size: .75rem;
    font-weight: 500;
  }

  & > .header > .date {
    color: $color-brand;
  }

  & > .header > .status {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: $color-deep-gray;
  }

  & > .header > .status > img {
    margin-right: .35rem;
  }

  & > h3 {
    font-size: 1.2rem;
    line-height: 1.6;

    margin-top: 1rem;
  }

  & > .info {
    font-size: .625rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 2rem;

    text-transform: uppercase;

    color: $color-gray;
  }

  & > .info > .themes,
  & > .info > .suggestions {
    display: flex;

    text-align: center;
  }

  & > .info > .themes > * + * {
    margin-left: 1rem;
  }

  & > .info > .themes > .theme,
  & > .info > .suggestions > .suggestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & > .info > .suggestions > .suggestion > .value {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
