.simple-card {
  display: block;

  padding: 1rem;

  background-color: #FFF;

  @include card-shadow;

  &.-inactive {
    & > .header > .date {
      color: $color-red;
    }

    & > h3,
    & > p,
    & > .header > .status {
      color: $color-gray;
    }

    & > .info,
    & > .header > .status > img {
      opacity: .6;
    }
  }

  &.-new {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px dashed $color-grayish;
    background: none;
    box-shadow: none;

    &:hover {
      & > .icon {
        transform: translateY(-1em);
      }

      & > .icon::after {
        transform: translate(-50%, 0);

        opacity: 1;
      }
    }

    & > .icon {
      transition: transform .3s $swift-out;

      @include icon('add-gray', 4rem, 4rem);
      @include hovering-label(bottom, .5em, $color-grayish);
    }
  }

  & > p {
    margin-top: 1rem;
  }

  & > .header {
    display: flex;
    justify-content: space-between;
  }

  & > .header > span {
    font-size: .75rem;
    font-weight: 500;
  }

  & > .header > .date {
    color: $color-brand;
  }

  & > .header > .status {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: $color-deep-gray;
  }

  & > .header > .status > img {
    margin-right: .35rem;
    margin-bottom: .2rem;
  }

  & > h3 {
    font-size: 1.4rem;
    line-height: 1.6;

    margin-top: 1rem;
  }

  & > .info {
    font-size: .625rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 1.5rem;

    text-transform: uppercase;

    color: $color-gray;
  }

  & > .info > .themes,
  & > .info > .suggestions {
    display: flex;

    text-align: center;
  }

  & > .info > .themes > * + * {
    margin-left: 1rem;
  }

  & > .info > .themes > .theme,
  & > .info > .suggestions > .suggestion {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  & > .info > .themes > .theme > img {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: .35rem;
  }

  & > .info > .suggestions > .suggestion > .value {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
