.suggestion-input {
  position: fixed;
  bottom: 0;

  visibility: hidden;

  box-sizing: border-box;
  width: 100%;
  padding: 1rem;

  transition: transform .3s 0s ease, visibility 0s .3s;
  transform: translateY(100%);

  background-color: #FFF;

  @include footer-shadow;

  &.-show {
    visibility: visible;

    transition: transform .3s 0s ease, visibility 0s 0s;
    transform: translateY(0);
  }

  & > .content {
    width: 66%;
    margin: 0 auto;
  }

  & > .content > .close {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.75rem;
    height: 2.75rem;

    cursor: pointer;
  }

  & > .content > .text {
    margin: 1rem 0;
  }

  & > .content > .close > img {
    width: 1.5rem;
  }

  & > .content > .input {
    position: relative;

    display: flex;
    align-items: center;

    min-height: 3rem;
    margin-top: .5rem;

    border: 1px solid $color-grayish;
  }

  & > .content > .input > input {
    padding: 1rem;

    box-shadow: none;
  }

  & > .content > .input > .send {
    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 .5rem;

    cursor: pointer;
  }

  & > .content > .error {
    font-size: .75rem;

    display: block;

    margin-top: .5rem;

    color: $color-red;
  }
}
