.suggestion-input {
  background-color: #eee;
  position: fixed;
  width: 100%;
  bottom: 0;
  transform: translateY(9rem);
  transition: transform 0.3s ease;
  padding: 1rem 5rem;

  &.-show {
    transform: translateY(0);
  }
}