.text-highlight {
  position: relative;

  padding: .2em 0;

  color: $color-deep-gray;
  background-color: rgba($color-highlight, .5);

  &.-active {
    cursor: default;

    background-color: $color-highlight;
  }
}
