.text-diff {
  position: relative;
  z-index: 0;

  display: none;
  flex: 1;
  flex-direction: column;

  margin-top: 2rem;

  & > .diffs {
    position: relative;

    align-self: center;
    flex: 1;

    box-sizing: border-box;
    width: calc(66ch + 66ch + 4rem);
    max-width: 100%;

    border-right: 4vw solid transparent;
    border-left: 4vw solid transparent;
  }

  & > .titles {
    display: flex;
    align-self: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: calc(66ch + 66ch + 4rem);
    max-width: 100%;
    margin-bottom: 1.5rem;

    border-right: 4vw solid transparent;
    border-left: 4vw solid transparent;

    & > .title {
      display: flex;
      flex-direction: column;

      width: 50%;

      text-align: center;
    }

    & > .title > * + * {
      margin-top: .5rem;
    }

    & > .title > .name {
      font-size: $font-size-deci;
      color: $color-brand;
      font-weight: 700;
    }

    & > .title > .date {
      font-size: $font-size-nano;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $color-gray;
    }
  }

  #mergely {
    display: flex;

    width: unset !important;
  }

  #mergely-splash {
    display: none !important;
  }

  .CodeMirror-sizer {
    flex: 1;

    padding-right: 0 !important;

    border-right: none;
    border-right-width: 0 !important;
  }

  .CodeMirror-scroll {
    flex: 1;

    margin: 0;
  }

  .CodeMirror {
    font-family: inherit;
  }

  .CodeMirror.CodeMirror-wrap {
    display: flex;
  }

  .mergely-column {
    flex: 1;

    box-sizing: border-box;
    width: unset !important;

    border: none;
  }

  .text-diff {
    z-index: 0;

    align-self: center;

    box-sizing: border-box;
    width: calc(66ch + 66ch + 4rem);
  }

  .mergely-full-screen-8 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .CodeMirror-hscrollbar {
    display: block !important;
  }

  .CodeMirror-linebackground.lhs {
    box-sizing: content-box;

    border-left: 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }


  .CodeMirror-linebackground.lhs:not(.current) {
    color: #A2A2A2;
  }

  .CodeMirror-linebackground,
  .CodeMirror-linebackground.current {
    border: none !important;
  }

  .CodeMirror-linebackground.rhs {
    background-color: rgba(187, 230, 210, .5) !important;
  }

  .CodeMirror-linebackground.lhs {
    background-color: rgba(251, 225, 226, .5) !important;
  }

  .CodeMirror-linebackground {
    padding: .5rem 1rem;
  }

  .CodeMirror-lines {
    padding-bottom: 4rem;
  }


  .mergely.ch.a.rhs {
    background-color: rgba(45, 169, 101, .25);
  }

  .mergely.ch.d.lhs {
    text-decoration: none;

    color: black !important;
    background-color: #eb66664d
  }
}
