.theme-autocomplete {
  @extend .input-text;

  position: relative;

  margin-bottom: -.5rem;

  & > .themes {
    display: flex;
    align-items: center;

    padding-top: .5rem;

    & > .title {
      font-size: .5625rem;
      font-weight: 500;

      margin-right: .75rem;

      letter-spacing: 1.5px;
      text-transform: uppercase;

      color: $color-gray;
    }

    & > .tags {
      display: flex;

      & > * + * {
        margin-left: .75rem;
      }
    }
  }

  & > ul {
    position: absolute !important;
    z-index: 2;
    top: .5rem !important;
  }
}
