.theme-tag {
  font-size: $font-size-nano;
  font-weight: bold;

  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $color-gray;

  &.-selected:hover {
    text-decoration: line-through;
    color: $color-red;
  }

  & > .dot {
    display: inline-block;

    width: .375rem;
    height: .375rem;
    margin-right: .375rem;

    border-radius: 50%;
  }
}
