.theme-autocomplete {
  & > .themes {
    display: flex;
    align-items: center;

    margin-top: .5rem;

    & > .title {
      font-size: .5625rem;
      font-weight: 500;

      letter-spacing: 1.5px;
      text-transform: uppercase;

      color: $color-gray;
    }

    & > .tags {
      display: flex;

      & > * + * {
        margin-left: .75rem;
      }
    }
  }
}
