.voting-action {
  margin-bottom: 1rem;

  & > .info {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.4;

    display: flex;
  }

  & > .info > .icon {
    width: 1rem;
    height: 1rem;
    margin-top: .1rem;
    margin-right: .25rem;
  }

  & > .info-text > h4 {
    font-size: 1rem;
    font-weight: 600;

    color: $color-deep-gray;
  }

  & > .actions {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
  }

  & > .actions > * + * {
    margin-left: 1rem;
  }
}
