.howto-button {
  @extend .app-button;
  @extend .app-button.-green;
  @extend .app-button.-circle;

  font-size: .8rem;

  position: fixed;
  z-index: 2;
  top: .85rem;
  right: 1.6rem;

  box-shadow: none;

  @include hovering-label(left, 'nobg', 1em, $color-gray, $font-size-micro, auto, 'default', fixed);
  @include bp-smallonly {
    font-size: .7rem;

    top: .5rem;
    right: 1rem;
  }
  @include bp-mediumonly {
    font-size: .7rem;

    top: .5rem;
  }

  &::before {
    font-size: 1.4em;

    content: '?';

    color: #FFF;
  }
}
