{% load staticfiles %}

<div class="app-modal {% block extra_classes %}{% endblock %}" {% block extra_attributes %}{% endblock %}>
  {% block header %}
    <div class="header js-headerModal">
      <h2>{% block title %}{% endblock%}</h2>
      {% block close_button %}
        <div class="close js-closeModal"><img class="icon" src="{% static 'img/close.svg' %}"></div>
      {% endblock close_button %}
    </div>
  {% endblock header %}

  <div class="content js-appModalContent">
    {% block content %}

    {% endblock content %}
  </div>
</div>
