{% load static participations_tags %}

{% for cluster in clusters %}
<div class="cluster js-suggestionCluster">
  <div class="content">
    <div class="count">
      <span class="value">{{ cluster|length }}</span>
      <span>Opiniões</span>
    </div>
    <p class="text">{{ cluster.0.content }}</p>
  </div>
  <ul class="opinions">
    {% for suggestion in cluster %}
    <div class="opinion">
      <div class="avatar">
        {% if suggestion.author.avatar %}
        <img src="{{ suggestion.author.avatar }}" alt="Usuário">
        {% else %}
        <img src="{% static 'img/avatar.png' %}" alt="Usuário">
        {% endif %}
      </div>
      <div class="content">
        <div class="header">
          <span class="name">{{ suggestion.author.get_full_name }}</span>
          <span class="date">{{ suggestion.created|date:'H:i - d \d\e b' }}</span>
        </div>
        <p class="text">
          {{ suggestion.content }}
        </p>
        <div class="votes">
          <span class="vote -reject">{{suggestion.votes|count_votes:"reject"}}</span>
          <span class="vote -neutral">{{suggestion.votes|count_votes:"neutral"}}</span>
          <span class="vote -approve">{{suggestion.votes|count_votes:"approve"}}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </ul>
</div>
{% empty %}
  Sem sugestões
{% endfor %}