{% extends "structure/app-modal.html" %}
{% load staticfiles %}


{% block extra_classes %}-confirm js-confirmFormModal{% endblock %}

{% block title_modal %}
  Confirmar Dados
{% endblock %}


{% block content %}
<div class="info-bar -mobile">
  Analise os projetos de lei e contribua com sugestões de nova redação a artigos ou parágrafos. Os deputados relatores das proposições acompanham as participações e podem adotar a sua ideia!
</div>
<button class="app-button -green js-close">Salvar</button>
{% endblock content %}

</div>
