<div class="contextual-toolbar js-contextualToolbar _hidden">
  <ul class="js-typeList">
    <li class="_hidden js-excerptType" data-excerpt-type="titulo">Título</li>
    <li class="_hidden js-excerptType" data-excerpt-type="capitulo">Capítulo</li>
    <li class="_hidden js-excerptType" data-excerpt-type="secao">Seção</li>
    <li class="_hidden js-excerptType" data-excerpt-type="subsecao">Subseção</li>
    <li class="_hidden js-excerptType" data-excerpt-type="continuacao">Continuação</li>
    <li class="_hidden js-excerptType" data-excerpt-type="artigo">Artigo</li>
    <li class="_hidden js-excerptType" data-excerpt-type="paragrafo">Parágrafo</li>
    <li class="_hidden js-excerptType" data-excerpt-type="inciso">Inciso</li>
    <li class="_hidden js-excerptType" data-excerpt-type="alinea">Alínea</li>
    <li class="_hidden js-excerptType" data-excerpt-type="item">Item</li>
  </ul>
</div>