{% load participations_tags %}
{% if is_owner or analysis_page %}
<span class="document-excerpt js-documentExcerpt {% relevance_classes relevance_participations relevance_opinions relevance_votes %} js-participationActive" data-id="{{excerpt.id}}">{% highlight_excerpt excerpt group %}</span>
{% elif group %}
<span class="document-excerpt js-documentExcerpt" data-id="{{excerpt.id}}">{% highlight_excerpt excerpt group request.user %}</span>
{% else %}
<span class="document-excerpt js-documentExcerpt" data-id="{{excerpt.id}}">{{excerpt.content}}</span>
{% endif %}
