{% load projects_tags participations_tags %}

<article>
  <header>
    <h1 contentEditable="true">{{ object.title }}</h1>
    <p class="description">{{ object.description }}</p>
    <hr>
  </header>
  {% for excerpt in object.get_excerpts %}
    {% if excerpt.excerpt_type.align_center %}
    <div class="excerpt-wrapper {% excerpt_classes excerpt%}">
      <h3>{% excerpt_numbering excerpt %}</h3>
      <h3>{{ excerpt.content|safe }}</h3>
    </div>
    {% else %}
      {% to_reduce group excerpt as reduce %}
      {% if reduce %}
      <p class="excerpt-wrapper {% excerpt_classes excerpt %} -reduce js-excerptWrapper">
        <b>{% excerpt_numbering excerpt %}</b>
        <span class="js-defaultText">...</span>
      </p>
      {% else %}
      <p class="excerpt-wrapper {% excerpt_classes excerpt %} js-excerptWrapper">
        <b>{% excerpt_numbering excerpt %}</b>
        {% include "components/document-excerpt.html" with excerpt=excerpt %}
      </p>
      {% endif %}
    {% endif %}
  {% endfor %}
</article>