{% load staticfiles projects_tags participations_tags %}

<article id="article">
  <header>
    {% now "Y-m-d" as todays_date %}
    {% if group.closing_date|date:"Y-m-d" > todays_date %}
    <span class="date -active">Aberto até {{group.closing_date|date:'d/m/Y'}}</span>
    {% else %}
    <span class="date -inactive">Encerrado em {{group.closing_date|date:'d/m/Y'}}</span>
    {% endif %}
    <h1 class="js-documentTitle" contentEditable="true">{{ object.title }}</h1>
    <p class="js-documentDescription description">{{ object.description }}</p>
    <hr>
  </header>
  <canvas id='map'></canvas>
  {% for excerpt in group.get_excerpts %}
    {% if excerpt.excerpt_type.align_center %}
    <div class="excerpt-wrapper {% excerpt_classes excerpt%}">
      <h3>{% excerpt_numbering excerpt %}</h3>
      <h3>{{ excerpt.content|safe }}</h3>
    </div>
    {% else %}
      {% to_reduce group excerpt as reduce %}
      {% if reduce %}
      <p class="excerpt-wrapper {% excerpt_classes excerpt %} -reduce js-excerptWrapper">
        <b>{% excerpt_numbering excerpt %}</b>
        <span class="js-defaultText">...</span>
        {% include "components/document-excerpt.html" with excerpt=excerpt %}
      </p>
      {% else %}
      <p class="excerpt-wrapper {% excerpt_classes excerpt %} js-excerptWrapper">
        <b>{% excerpt_numbering excerpt %}</b>
        {% include "components/document-excerpt.html" with excerpt=excerpt %}
      </p>
      {% endif %}
    {% endif %}
  {% endfor %}
</article>

<style>
  #map {
      position: fixed;
      top: 60px;
      right: 80px;
      width: 200px;
      height: 100%;
      z-index: 100;
  }
</style>

<script src="{% static 'js/vendor/pagemap-1.2.0.min.js' %}"></script>
<script>
  pagemap(document.querySelector('#map'), {
      // viewport: document.querySelector('#article'),
      styles: {
          '.js-documentTitle, .js-documentDescription': 'rgba(0,0,0,0.08)',
          '.js-documentExcerpt': 'rgba(0,0,0,0.08)',
          '.-first': 'hsla(275, 120%, 90%, 1)',
          '.-second': 'hsla(275, 120%, 80%, 1)',
          '.-third': 'hsla(275, 120%, 70%, 1)',
          '.-fourth': 'hsla(275, 120%, 60%, 1)',
          '.-fifth': 'hsla(275, 120%, 50%, 1)',
          // 'h1,a': 'rgba(0,0,0,0.10)',
          // 'h2,h3,h4': 'rgba(0,0,0,0.08)'
      },
      back: 'rgba(0,0,0,0.03)',
      view: 'rgba(0,0,0,0.05)',
      drag: 'rgba(0,0,0,0.065)',
      interval: 50
  });
</script>