{% extends "structure/app-modal.html" %}
{% load staticfiles projects_tags %}


{% block extra_classes %}-public js-feedbackWaitingModal{% endblock %}

{% block content %}
<h1>Aguardando Autorização</h1>
<p>Enviada solicitação para o(a) deputado(a) validar a versão indicada como resultado da participação do público. Depois da autorização do deputado, a equipe do orgão gestor da ferramenta revisará os detalhes para a publicação final.</p>
<button class="app-button -green js-close">Entendi</button>
{% endblock content %}
