{% extends "structure/app-modal.html" %}
{% load staticfiles projects_tags %}


{% block extra_classes %}-public js-feedbackInfoModal{% endblock %}

{% block content %}
<h1>Adicionar Versão e Vídeo Final</h1>
<p>Insira a versão do texto consolidado da proposição com as opiniões eventualmente acatadas para publicação. A inserção do vídeo é opcional, mas serve para o(a) parlamentar agradecer pessoalmente a todos os cidadãos que contribuíram com o projeto.</p>
<button class="app-button -green js-openFeedback">Continuar</button>
{% endblock content %}
