{% load staticfiles %}

<div class="generic-modal">
  <header>
    <h2>Filtros</h2>
    <div class="close-icon js-closeModal"></div>
  <header>
  <div class="content">
    <form>
      <div class="input-group">
        <div class="input-text">
          <label for="id_group_name">Nome do grupo: </label>
          <input type="text" name="group_name" id="id_group_name">
        </div>
        <div class="input-text">
          <label for="id_closing_date">Data de encerramento:</label>
          <input type="date" name="closing_date" required="" id="id_closing_date">
        </div>
      </div>
    </form>

    <a href="#" class="solid-button -green">Próximo</a>
  </div>
</div>
