{% load staticfiles %}

<div class="generic-modal">
  <div class="header">
    <h2>Modal</h2>
    <div class="close"><img class="icon" src="{% static 'img/close.svg' %}"></div>
  </div>
  <div class="content">
    <img src="{% static 'img/select.svg' %}">
    <h2>Selecione um trecho do texto para dar sua opinião</h2>
    <p>Analise os projetos de lei e contribua com sugestões de nova redação a artigos ou parágrafos. Os <a href="#">deputados relatores</a> das proposições acompanham as participações e podem adotar a sua ideia!</p>
  </div>
  <a href="#" class="solid-button -green">Próximo</a>
  <a href="#" class="simple-link">Pular tutorial</a>
</div>
