{% extends "structure/app-modal.html" %}
{% load staticfiles participations_tags %}


{% block extra_classes %}-opinion js-opinionModal{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}
  {% for suggestion in suggestions %}
    <article class="opinion-card -active js-opinionCard"
      data-suggestion-id="{{suggestion.id}}"
      data-excerpt-id="{{suggestion.excerpt.id}}"
      data-user-id="{{suggestion.author.id}}">

      <header class="js-headerModal">
        <h2>Você concorda?</h2>
        <div class="close js-closeModal"><img class="icon" src="{% static 'img/close.svg' %}"></div>
      </header>

      <div class="highlight">
        <span class="info-text js-userInfo">
          <img class="js-userAvatar" src="{{suggestion.author.profile.avatar_url}}">
          <h3>{{suggestion.author.get_full_name}} destacou o trecho:</h3>
        </span>
        
        <p class="excerpt js-documentExcerpt">
          {% highlight_suggestion suggestion %}
        </p>
      </div>

      <div class="opinion">
        <span class="info-text">
          <img src="{% static 'img/atention.svg' %}">
          <h3>E deu a seguinte opinião nele:</h3>
        </span>
        
        <p class="suggestion js-suggestion">{{suggestion.content}}</p>
      </div>

      <footer class="actions">
        <a href="#" class="disagree js-opinionButton" data-opinion="approve" data-text="Concordo">Concordo</a>
        <a href="#" class="indifferent js-opinionButton" data-opinion="neutral" data-text="Indiferente">Indiferente</a>
        <a href="#" class="agree js-opinionButton" data-opinion="reject" data-text="Discordo">Discordo</a>
        <a href="#" class="skip js-nextOpinion" data-text="Próxima Opinião">Próxima Opinião</a>
      </footer>
    </article>
  {% endfor %}
{% endblock content %}
