{% load static participations_tags %}

{% for opinion in opinions %}
<div class="card js-suggestionOpinion" data-opinion-id="{{opinion.id}}" data-opinion-consensus="{{ opinion.votes.all|votes_consensus }}" data-opinion-votes="{{ opinion.votes.count }}" data-excerpt-id="{{opinion.excerpt.id}}">
  <div class="header">
    <span class="votes">{{ opinion.votes.count }} VOTOS</span>
    <div class="consensus {% if opinion.votes|majority_votes == 'approves' %}-green{% elif opinion.votes|majority_votes == 'neutrals' %}-gray{% elif opinion.votes|majority_votes == 'rejects' %}-red{% endif %}">
      <div class="icon">
        <span class="value" style="width: {{ opinion.votes.all|votes_consensus }}%;"></span>
      </div>
      <span class="info">{{ opinion.votes.all|votes_consensus }}% consenso</span>
    </div>
  </div>
  <div class="content">
    <div class="user">
      <img src="{% if opinion.author.profile.avatar %}{{ opinion.author.profile.avatar }} {% else %} {% static 'img/avatar.png' %} {% endif %}" class="avatar" alt="Usuário">
      <span class="name">{{ opinion.author }}</span>
    </div>
    <p class="sugestion">{{ opinion.content }}</p>
  </div>
  <div class="votes">
    {% if opinion.votes.all %}
    <div class="bar -positive {% if opinion.votes.all|count_votes:'approve' == 0 %}_hidden{% endif %}" style="width: {{opinion.votes.all|votes_percent:'approve'}}%;">
      <span class="value">{{opinion.votes.all|count_votes:'approve'}}</span>
    </div>
    <div class="bar -neutral {% if opinion.votes.all|count_votes:'neutral' == 0 %}_hidden{% endif %}" style="width: {{opinion.votes.all|votes_percent:'neutral'}}%;">
      <span class="value">{{opinion.votes.all|count_votes:'neutral'}}</span>
    </div>
    <div class="bar -negative {% if opinion.votes.all|count_votes:'reject' == 0 %}_hidden{% endif %}" style="width: {{opinion.votes.all|votes_percent:'reject'}}%;">
      <span class="value">{{opinion.votes.all|count_votes:'reject'}}</span>
    </div>
    {% else %}
    <div class="bar -positive" style="width: 33%;">
      <span class="value">0</span>
    </div>
    <div class="bar -neutral" style="width: 33%;">
      <span class="value">0</span>
    </div>
    <div class="bar -negative" style="width: 33%;">
      <span class="value">0</span>
    </div>
    {% endif %}
  </div>
</div>
{% empty %}
  Sem sugestões
{% endfor %}
