{% load staticfiles %}

<div class="generic-modal -opinion js-opinionModal" data-open-on-load="{% if request.user.is_authenticated %}true{% else %}false{% endif %}">
  <div class="header js-headerModal">
    <h2>Você concorda?</h2>
    <div class="close js-closeModal"><img class="icon" src="{% static 'img/close.svg' %}"></div>
  </div>
  <div class="content -vote">
    <span class="info-text js-userInfo" data-user-id="">
      <img class="js-userAvatar" src="">
      <h4><span class="js-userName"></span> destacou o trecho:</h4>
    </span>
    <p class="excerpt js-documentExcerpt" data-excerpt-id=""></p>
    <span class="info-text">
      <img src="{% static 'img/atention.svg' %}">
      <h4>E deu a seguinte opinião nele:</h4>
    </span>
    <p class="js-suggestion" data-suggestion-id=""></p>
  </div>
  <div class="footer">
    <span class="info-text">
      <img src="{% static 'img/information.svg' %}">
      <h4>Você concorda com essa opinião?</h4>
    </span>
    <div class="actions">
      <a href="#" class="outline-button -green js-opinionButton" data-opinion="approve">Concordo</a>
      <a href="#" class="outline-button -gray js-opinionButton" data-opinion="neutral">Neutro</a>
      <a href="#" class="outline-button -red js-opinionButton" data-opinion="reject">Discordo</a>
    </div>
    <a href="#" class="simple-link js-nextOpinion">Próxima Opinião</a>
  </div>
</div>
