{% extends "structure/app-modal.html" %}
{% load staticfiles %}


{% block extra_classes %}-opinion js-opinionModal{% endblock %}

{% block extra_attributes %}data-open-on-load="{% if request.user.is_authenticated %}true{% else %}false{% endif %}"{% endblock %}

{% block title %}Você Concorda?{% endblock %}


{% block content %}
  <span class="info-text js-userInfo" data-user-id="">
    <img class="js-userAvatar" src="">
    <h3><span class="js-userName"></span> destacou o trecho:</h3>
  </span>
  <p class="excerpt js-documentExcerpt" data-excerpt-id=""></p>
  <span class="info-text">
    <img src="{% static 'img/atention.svg' %}">
    <h3>E deu a seguinte opinião nele:</h3>
  </span>
  <p class="js-suggestion" data-suggestion-id=""></p>
  <div class="footer">
    <span class="info-text">
      <img src="{% static 'img/information.svg' %}">
      <h3>Você concorda com essa opinião?</h3>
    </span>
    <div class="actions">
      <a href="#" class="solid-button -green js-opinionButton" data-opinion="approve">Concordo</a>
      <a href="#" class="solid-button -gray js-opinionButton" data-opinion="neutral">Neutro</a>
      <a href="#" class="solid-button -red js-opinionButton" data-opinion="reject">Discordo</a>
    </div>
    <a href="#" class="simple-link js-nextOpinion">Próxima Opinião</a>
  </div>
{% endblock content %}

</div>
