{% extends "structure/app-modal.html" %}
{% load staticfiles projects_tags %}


{% block extra_classes %}-public js-validateModal js-stepModal{% endblock %}

{% block title_modal %}

{% endblock %}


{% block content %}
<div class="step js-step">
  <h1>Data de encerramento</h1>
  <p>Analise os projetos de lei e contribua com sugestões de nova redação a artigos ou parágrafos. Os deputados relatores das proposições acompanham as participações e podem adotar a sua ideia!</p>
  <div class="input-text">
    <input type="text" name="title" maxlength="200" id="id_date">
    <label for="id_date">Data</label>
  </div>
  <button class="app-button -green">Próximo</button>
</div>
<div class="step js-step">
  <h1>Data de encerramento</h1>
  <p>Analise os projetos de lei e contribua com sugestões de nova redação a artigos ou parágrafos. Os deputados relatores das proposições acompanham as participações e podem adotar a sua ideia!</p>
  <div class="input-text">
    <input type="text" name="title" maxlength="200" id="id_date">
    <label for="id_date">Data</label>
  </div>
  <button class="app-button -green">Próximo</button>
</div>
{% endblock content %}

</div>
