<aside class="side-bar">
  <div class="header">
    <h3>Grupos de Opiniões Similares</h3>
    <div class="filter"></div>
  </div>
  <div class="suggestions">
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">13</span>
        <span>Opiniões</span>
      </div>
      <p class="text">“Muito restrito. Poderia ampliar para além de produtos de consumo.”</p>
    </div>
  </div>
  <div class="toggle js-toggleButton"></div>
</aside>
