<aside class="side-bar">
  <div class="header">
    <h3>Grupos de Opiniões Similares</h3>
    <div class="filter"></div>
  </div>
  <div class="suggestions">
    {% for cluster in clusters %}
    <div class="suggestion js-suggestionCluster">
      <div class="count">
        <span class="value">{{ cluster|length }}</span>
        <span>Opiniões</span>
      </div>
      <p class="text">{{ cluster.0.content }}</p>
    </div>
    {% empty %}
      Sem sugestões
    {% endfor %}
  </div>
  <div class="toggle js-toggleButton"></div>
</aside>
