{% load staticfiles %}

<div class="suggestion-input js-suggestionInput">
  <div class="content">
    <button class="close-icon js-close" type="button"><img class="icon" src="{% static 'img/close.svg' %}"></button>
    <h3>Você destacou o trecho:</h3>
    <div class="text">
      <p><span class="text-highlight js-selectedText"></span></p>
    </div>
    {% if request.user.is_authenticated %}
      <span class="info-text">
        <h3>Digite sua opinião sobre ele:</h3>
      </span>
      <div class="input">
        <input class="js-input" type="text" name="">
        <div class="send js-send">
          <img class="icon" src="{% static 'img/send.svg' %}">
        </div>
      </div>
      <span class="error js-inputError"></span>
    {% else %}
      <h3 class="notice"><a class="js-loginButton" href="#">Faça login</a> para dar sua opinião sobre ele.</h3>
    {% endif %}
  </div>
</div>
