{% extends "structure/app-modal.html" %}
{% load staticfiles %}


{% block extra_classes %}-onboarding js-textSelectionOnboarding{% endblock %}


{% block extra_attributes %}{% if request.user.is_authenticated %} data-is-authenticated {% endif %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <img src="{% static 'img/text-select-onboarding.svg' %}">
  <h2>Selecione um trecho do texto para dar sua opinião</h2>
  <p>Escolha um trecho de um artigo individual e digite uma opinião sobre ele. Basta dar um longo toque sobre o texto ou clicar e arrastar o mouse para selecioná-lo.</p>
  <a href="#" class="solid-button -green js-button">Entendi</a>
{% endblock content %}

</div>
