<aside class="side-bar">
  <div class="header">
    <h3>Minhas Versões</h3>
    <div class="compare">Comparar</div>
  </div>
  <ol class="version-timeline -active">
    <li class="item">
      <div class="named">
        <span class="time">17:00</span>
        <h2 class="title">Versão do matheus</h2>
        <span class="date">3 de Maio, 2019</span>
      </div>
      <ol class="autosaves">
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
      </ol>
    </li>
    <li class="item">
      <div class="named">
        <span class="time">17:00</span>
        <h2 class="title">Versão do matheus</h2>
        <span class="date">3 de Maio, 2019</span>
      </div>
      <ol class="autosaves">
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
      </ol>
    </li>
    <li class="item">
      <div class="named">
        <span class="time">17:00</span>
        <h2 class="title">Versão do matheus</h2>
        <span class="date">3 de Maio, 2019</span>
      </div>
      <ol class="autosaves">
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
      </ol>
    </li>
    <li class="item">
      <div class="named">
        <span class="time">17:00</span>
        <h2 class="title">Versão do matheus</h2>
        <span class="date">3 de Maio, 2019</span>
      </div>
      <ol class="autosaves">
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
      </ol>
    </li>
    <li class="item">
      <div class="named">
        <span class="time">17:00</span>
        <h2 class="title">Versão do matheus</h2>
        <span class="date">3 de Maio, 2019</span>
      </div>
      <ol class="autosaves">
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
      </ol>
    </li>
    <li class="item">
      <div class="named">
        <span class="time">17:00</span>
        <h2 class="title">Versão do matheus</h2>
        <span class="date">3 de Maio, 2019</span>
      </div>
      <ol class="autosaves">
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
      </ol>
    </li>
    <li class="item">
      <div class="named">
        <span class="time">17:00</span>
        <h2 class="title">Versão do matheus</h2>
        <span class="date">3 de Maio, 2019</span>
      </div>
      <ol class="autosaves _hidden">
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
        <li class="save"><span>17:00 - 3 de maio, 2019</span></li>
      </ol>
    </li>
  </ol>
  <div class="toggle js-toggleButton"></div>
</aside>
