<aside class="tool-bar">
  <div class="tools">
    <a href="#" class="icon" aria-label="Salvar">
      {% include "svgs/cloud-icon.html" %}
    </a>
    <a href="#" class="icon" aria-label="Exportar">
      {% include "svgs/download-icon.html" %}
    </a>
    <a href="#" class="icon" aria-label="Comparar">
      {% include "svgs/arrows-icon.html" %}
    </a>
    <a href="#" class="icon" aria-label="Expandir">
      {% include "svgs/expand-icon.html" %}
    </a>
    <a href="#" class="icon" aria-label="Compartilhar">
      {% include "svgs/share-icon.html" %}
    </a>
    <a href="#" class="icon" aria-label="Publicar">
      {% include "svgs/publish-icon.html" %}
    </a>
    <a href="#" class="icon -settings" aria-label="Configurar">
      {% include "svgs/settings-icon.html" %}
    </a>
  </div>
</aside>
