{% extends "structure/app-modal.html" %}
{% load staticfiles projects_tags %}


{% block extra_classes %}-public js-videoHelperModal{% endblock %}

{% block title_modal %}

{% endblock %}

{% block content %}
{# XXX: Improve styles #}
  <div class="video-helper-modal">
	  <h1>Dúvidas? Assista o vídeo abaixo!</h1>
	  <br>
	  <center><iframe style="margin-top: 5%;" width="560" height="315" src="https://www.youtube.com/embed/7ZBNuBvwifg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
	  <br>
	  <center><button style="margin-top: 5%;" class="app-button -green js-send"><span class="load _hidden js-load"></span><span class="js-text js-closeModal">Ok!</span></button></center>
  </div>
{% endblock content %}
