// Mixin to add icons by using SASS variables. No markup shit.
@mixin icon($icon) {
  &::before {
    content: '';
    background-image: url("../../static/img/#{$icon}.svg");;
    width: 1em;
    min-width: 1em;
    height: 1em;
    min-height: 1em;
    margin-right: 0.75em;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}