@mixin underline($offset: 0, $width: 1px) {
  background: linear-gradient(currentcolor, currentcolor);
  background-repeat: repeat-x;
  background-position: 100% calc(100% - #{$offset});
  background-size: $width $width;
}

@mixin hidden-shadow {
  transition: box-shadow .3s $swift-out;

  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

@mixin card-shadow {
  transition: box-shadow .3s $swift-out;

  box-shadow: 3px 3px 4px rgba(0, 0, 0, .08);
}

@mixin card-darkbg-shadow {
  box-shadow: 4px 4px 6px 0 rgba($color-deep-gray, .65);
}

@mixin button-shadow {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .08);
}

@mixin header-shadow {
  transition: box-shadow .3s $swift-out;

  box-shadow: 0 3px 4px rgba(0, 0, 0, .08);
}

@mixin footer-shadow {
  transition: box-shadow .3s $swift-out;

  box-shadow: 0 -3px 4px rgba(0, 0, 0, .08);
}
