* {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;

  margin: 0;
  padding: 0;

  list-style: none;

  text-decoration: none;

  color: inherit;
  border: none;

  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:focus {
    outline: none;
  }
}

::selection {
  background-color: rgba($color-link, .4);
}

body {
  background-color: $color-whitesmoke;

  @include bp-mediumup {
    overflow: hidden;
  }

  &.-open-menu {
    overflow: hidden;
  }

  &.-voidselect {
    user-select: none;
  }

  &.-white {
    background-color: #FFF;
  }

  &.-no-scroll {
    overflow: hidden;
  }
}

main {
  margin-top: 2.75rem;
  margin-right: auto;
  margin-left: auto;
  padding: $space-centi;
  padding-top: $space-centi;
  padding-bottom: $space-deca;
}

p {
  * + & {
    margin-top: $space-centi;
  }
}

h1 {
  * + & {
    margin-top: $space-centi;
  }
}

h2 {
  * + & {
    margin-top: $space-base;
  }
}

h3 {
  * + & {
    margin-top: $space-centi;
  }
}

p,
h1,
h2,
h3,
h4 {
  color: $color-deep-gray;
}

blockquote {
  padding-left: $space-base;
}

ul > li,
ol > li {
  position: relative;

  padding-left: $space-centi;

  @include bp-smallup {
    left: -1rem;

    padding-left: 1rem;
  }
  @include bp-mediumup {
    left: -$space-deci;

    padding-left: $space-deci;
  }
  &:before {
    position: absolute;
    left: 0;

    display: inline-block;

    width: $space-deci;

    content: '•';
  }
}

ol {
  counter-reset: list-counter;
}

ol > li:before {
  content: counter(list-counter);
  counter-increment: list-counter;
}

hr {
  margin-bottom: $space-base;

  border-top: 1px solid hsl(0, 0, 90%);
  * + & {
    margin-top: $space-base;
  }
}

code,
pre {
  color: hsl(0, 0, 40%);
  background-color: hsl(0, 0, 95%);
}

code {
  margin: $space-micro;
  padding: $space-micro;
}

pre {
  padding: $space-deci;

  @include bp-smallup {
    margin-right: -$space-deci;
    margin-left: -$space-deci;
  }
}

input {
  font-size: .875rem;

  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: .875rem;

  color: $color-deep-gray;

  @include card-shadow;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grayish;
  }
}

b {
  font-weight: bold;
}

p > a {
  text-decoration: underline;

  color: $color-brand;

  &:hover {
    color: lighten($color-brand, 10%);
  }
}
