
* {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;

  margin: 0;
  padding: 0;

  list-style: none;

  text-decoration: none;

  color: inherit;
  border: none;

  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:focus {
    outline: none;
  }
}

::selection {
  background-color: rgba($color-link, .4);
}

html,
body {
  height: 100%;
}

body {
  background-color: $color-whitesmoke;

  &::before {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: opacity .3s ease;
    pointer-events: none;

    opacity: 0;
    background-color: #000;
  }

  &.-home {
    & .nav-bar {
      transition: all .25s ease;
      transform: translateY(-100%);

      opacity: 0;

      &.-shadow {
        transform: translateY(0);

        opacity: 1;
      }
    }
  }

  &.-open-menu {
    overflow: hidden;
  }

  &.-voidselect {
    user-select: none;
  }

  &.-white {
    background-color: #FFF;
  }

  &.-no-scroll {
    overflow: hidden;

    &::before {
      pointer-events: auto;

      opacity: .6;
    }

     > main {
      filter: blur(2px);
    }
  }
}

main {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: $space-centi;
  padding-top: $space-centi;
  padding-bottom: $space-deca;

  @include bp-mediumup {
    margin-top: 3.75rem;
    padding-top: 0;
  }
}

p {
  * + & {
    margin-top: $space-base;
  }
}

h1 {
  * + & {
    margin-top: $space-centi;
  }
}

h2 {
  * + & {
    margin-top: $space-base;
  }
}

h3 {
  * + & {
    margin-top: $space-centi;
  }
}

p,
h1,
h2,
h3 {
  color: $color-deep-gray;
}

p,
h1,
h2,
h3 {
  & > a {
    @include link-style();
  }
}

blockquote {
  padding-left: $space-base;
}

ol {
  counter-reset: list-counter;
}

ol > li:before {
  content: counter(list-counter);
  counter-increment: list-counter;
}

hr {
  margin-bottom: $space-base;

  border-top: 1px solid hsl(0, 0, 90%);
  * + & {
    margin-top: $space-base;
  }
}

code,
pre {
  color: hsl(0, 0, 40%);
  background-color: hsl(0, 0, 95%);
}

code {
  margin: $space-micro;
  padding: $space-micro;
}

pre {
  padding: $space-deci;

  @include bp-smallup {
    margin-right: -$space-deci;
    margin-left: -$space-deci;
  }
}

textarea {
  resize: none;
}

input,
textarea,
select {
  font-size: .875rem;

  box-sizing: border-box;
  width: 100%;
  height: 3.25rem;
  padding: .875rem;

  color: $color-deep-gray;
  border: 0;
  border-radius: 0;

  @include card-shadow;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grayish;
  }
}

b {
  font-weight: bold;
}

p > a {
  text-decoration: underline;

  color: $color-brand;

  &:hover {
    color: lighten($color-brand, 10%);
  }
}

button {
  background-color: transparent;
}

._hide {
  display: none !important;
}

.silegismg-editor-articulacao {
  margin-top: 2rem;
}

@media print {
  @page {
    size: A4 portrait;
  }

  .document-editor,
  .document-editor.-active {
    width: 66ch;
    margin: 0 auto !important;
    padding: 0 !important;

    &::before {
      display: none !important;
    }
  }

  .document-editor > article {
    overflow: scroll !important;

    width: 100%;
    height: 100%;
    padding: 0 !important;
  }

  .nav-bar,
  .side-bar,
  .tool-bar,
  .page-minimap,
  .document-editor > article > header > .info,
  .document-editor > article > header .date,
  .excerpt-wrapper > .votes,
  .save-message {
    display: none !important;
  }
}
