{% load staticfiles compress projects_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-196x196.pHave the modal ng' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'img/favicon/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'img/favicon/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'img/favicon/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'img/favicon/mstile-310x310.png' %}" />
    {% block metatags %}
    {% endblock metatags %}

    <title>{% block title %}wikilegis{% endblock title %}</title>
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/app.scss' %}">
    {% endcompress %}

    {% block extracss %}
    {% endblock extracss %}
  </head>
  <body class="js-body{% if request.path|startswith:"/p/" and request.path != "/p/new/" %} -white{% elif request.path == "/" %} -home{% endif %}">
    {% include "components/nav-bar.html" %}
    {% include "components/nav-menu.html" %}
    {% block content %}
    {% endblock content %}


    {% block modal %}
    {% include "components/app-modal.html" %}
    {% endblock modal %}

    {% compress js %}
      <script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
      <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script src="{% static 'js/utils/events.js' %}"></script>
      <script src="{% static 'js/utils/publishSubscribe.js' %}"></script>
      <script src="{% static 'js/utils/cookies.js' %}"></script>
      <script src="{% static 'js/utils/ajax.js' %}"></script>
      <script src="{% static 'js/components/navBar/view.js' %}"></script>
      <script src="{% static 'js/components/appModal/view.js' %}"></script>
      <script src="{% static 'js/components/body/view.js' %}"></script>
      <script src="{% static 'js/pages/base.js' %}"></script>
      {% block page_js %}
      {% endblock page_js %}
    {% endcompress %}

  </body>
</html>
